
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 5rem;
}.meubel-houselogos-05-F7M {
  width: 100%;
  height: 3.2rem;
  background-size: 154% 240.625%;
  background-position: -1.3rem -2.2rem;
  background-image: url('../assets/meubel-houselogos-05-bg-dX5.png');
}
.meubel-houselogos-05-F7M .meubel-houselogos-05-F7M-bg {
  width: 5rem;
  height: 3.2rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:2727769ba74736d502746301ed573ed8940fc322');
}
