
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.product-comparison-Gib {
  box-sizing: border-box;
  padding-bottom: 5rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.product-comparison-Gib .header-BqZ {
  box-sizing: border-box;
  padding: 2.9rem 10rem 2.9rem 5.4rem;
  width: 100%;
  height: 10rem;
  background-color: #ffffff;
  flex-shrink: 0;
}
.product-comparison-Gib .header-BqZ .group-168-7UK {
  width: 100%;
  height: 100%;
  position: relative;
}
.product-comparison-Gib .header-BqZ .group-168-7UK .group-2-UJs {
  width: 43rem;
  height: 2.4rem;
  position: absolute;
  left: 45.1rem;
  top: 0.9rem;
  display: flex;
  column-gap: 7.5rem;
  align-items: center;
}
.product-comparison-Gib .header-BqZ .group-168-7UK .group-2-UJs .home-zY7 {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .header-BqZ .group-168-7UK .group-2-UJs .shop-8PR {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .header-BqZ .group-168-7UK .group-2-UJs .about-sro {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .header-BqZ .group-168-7UK .group-2-UJs .contact-RdR {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .header-BqZ .group-168-7UK .group-1-xdM {
  box-sizing: border-box;
  padding-right: 0.1797rem;
  width: 128.6rem;
  height: 4.2rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
}
.product-comparison-Gib .header-BqZ .group-168-7UK .group-1-xdM .frame-168-g3Z {
  margin-right: 85.6333rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.product-comparison-Gib .header-BqZ .group-168-7UK .group-1-xdM .frame-168-g3Z .meubel-houselogos-05-pfZ {
  margin: 0rem 0.5rem 0.1rem 0rem;
  width: 5rem;
  height: 3.2rem;
  background-size: 154% 240.625%;
  background-position: -1.3rem -2.2rem;
  background-image: url('../assets/meubel-houselogos-05-bg-X9y.png');
  flex-shrink: 0;
}
.product-comparison-Gib .header-BqZ .group-168-7UK .group-1-xdM .frame-168-g3Z .meubel-houselogos-05-pfZ .meubel-houselogos-05-pfZ-bg {
  width: 5rem;
  height: 3.2rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:2727769ba74736d502746301ed573ed8940fc322');
}
.product-comparison-Gib .header-BqZ .group-168-7UK .group-1-xdM .frame-168-g3Z .skinclinic-4K1 {
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .header-BqZ .group-168-7UK .group-1-xdM .mdi-account-alert-outline-zTZ {
  margin: 0rem 4.967rem 0rem 0rem;
  width: 2.3333rem;
  height: 1.8667rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.product-comparison-Gib .header-BqZ .group-168-7UK .group-1-xdM .akar-icons-search-VQK {
  margin: 0rem 5.083rem 0.117rem 0rem;
  width: 2.2167rem;
  height: 2.2167rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.product-comparison-Gib .header-BqZ .group-168-7UK .group-1-xdM .akar-icons-heart-1dZ {
  margin: 0rem 4.901rem 0.019rem 0rem;
  width: 2.3333rem;
  height: 2.0806rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.product-comparison-Gib .header-BqZ .group-168-7UK .group-1-xdM .ant-design-shopping-cart-outlined-8y5 {
  margin-top: 0.1168rem;
  width: 2.453rem;
  height: 2.2058rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.product-comparison-Gib .group-78-egX {
  box-sizing: border-box;
  padding: 6.1rem 46.9rem 9.7rem 46.9rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  filter: blur(0.3rem);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-1-bg-RXu.png');
  flex-shrink: 0;
}
.product-comparison-Gib .group-78-egX .frame-55-yTu {
  margin-bottom: 0.1rem;
  width: 100%;
  height: 13.3rem;
  position: relative;
  flex-shrink: 0;
}
.product-comparison-Gib .group-78-egX .frame-55-yTu .meubel-houselogos-05-XVR {
  width: 7.7rem;
  height: 7.7rem;
  position: absolute;
  left: 21.25rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.product-comparison-Gib .group-78-egX .frame-55-yTu .product-comparison-Tdy {
  width: 50.2rem;
  height: 7.2rem;
  position: absolute;
  left: 0;
  top: 6.1rem;
  text-align: center;
  font-size: 4.8rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.product-comparison-Gib .group-78-egX .group-56-xqd {
  margin: 0rem 13.2rem 0rem 19.1rem;
  width: calc(100% - 32.3rem);
  display: flex;
  column-gap: 1.2rem;
  align-items: center;
  flex-shrink: 0;
}
.product-comparison-Gib .group-78-egX .group-56-xqd .home-gmd {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .group-78-egX .group-56-xqd .dashicons-arrow-down-alt2-pcw {
  width: 0.8rem;
  height: 1.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.product-comparison-Gib .group-78-egX .group-56-xqd .comparison-xj9 {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq {
  margin: 0rem 5.4rem 11.2rem 5.4rem;
  width: calc(100% - 10.8rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-63tu-PpT {
  margin-bottom: 3.55rem;
  width: 100%;
  height: 39.2rem;
  position: relative;
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-63tu-PpT .go-to-product-page-for-more-products-hKM {
  width: 20.9rem;
  height: 10.7rem;
  position: absolute;
  left: 4.2rem;
  top: 5.4rem;
  display: flex;
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 1.2649999346;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
}
.product-comparison-Gib .group-165-Gjq .auto-group-63tu-PpT .asgaard-sofa-NwH {
  width: 16.5rem;
  height: 3.1rem;
  position: absolute;
  left: 34.2rem;
  top: 22.85rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2650000254;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.product-comparison-Gib .group-165-Gjq .auto-group-63tu-PpT .outdoor-sofa-set-tPq {
  width: 20.5rem;
  height: 3.1rem;
  position: absolute;
  left: 67.4rem;
  top: 22.85rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2650000254;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.product-comparison-Gib .group-165-Gjq .auto-group-63tu-PpT .group-8-zSs {
  width: 11.5rem;
  height: 3.5rem;
  position: absolute;
  left: 4.2rem;
  top: 18.1rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #717171;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  border-bottom: solid 0.2rem #717171;
  box-sizing: border-box;
}
.product-comparison-Gib .group-165-Gjq .auto-group-63tu-PpT .line-294-HRy {
  width: 133.2rem;
  height: 0.1rem;
  position: absolute;
  left: 0;
  top: 38.6rem;
  background-color: #e7e7e7;
}
.product-comparison-Gib .group-165-Gjq .auto-group-63tu-PpT .group-157-hkb {
  width: 28.3rem;
  height: 21.1rem;
  cursor: pointer;
  position: absolute;
  left: 66.7rem;
  top: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-63tu-PpT .group-157-hkb .group-159-3Jf {
  width: 28rem;
  height: 17.7rem;
  position: absolute;
  left: 0.3rem;
  top: 3.4rem;
  border-radius: 1rem;
}
.product-comparison-Gib .group-165-Gjq .auto-group-63tu-PpT .group-157-hkb .group-159-3Jf .rectangle-39-a3h {
  width: 100%;
  height: 17.7rem;
  background-color: #f9f1e7;
  border-radius: 1rem;
}
.product-comparison-Gib .group-165-Gjq .auto-group-63tu-PpT .group-157-hkb .outdoor-sofa-set-1-JEb {
  width: 27.1rem;
  height: 20.1rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.product-comparison-Gib .group-165-Gjq .auto-group-63tu-PpT .group-156-E8F {
  width: 28rem;
  height: 17.7rem;
  cursor: pointer;
  position: absolute;
  left: 34rem;
  top: 3.4rem;
}
.product-comparison-Gib .group-165-Gjq .auto-group-63tu-PpT .group-156-E8F .group-160-Anb {
  box-sizing: border-box;
  padding: 2rem 2.2rem 1.5rem 1.9rem;
  width: 100%;
  height: 100%;
  background-color: #f9f1e7;
  border-radius: 1rem;
}
.product-comparison-Gib .group-165-Gjq .auto-group-63tu-PpT .group-156-E8F .group-160-Anb .asgaard-sofa-3-K9h {
  width: 23.9rem;
  height: 14.2rem;
  object-fit: cover;
  vertical-align: top;
}
.product-comparison-Gib .group-165-Gjq .auto-group-63tu-PpT .line-295-SVD {
  width: 0rem;
  height: 0.1rem;
  position: absolute;
  left: 30.1rem;
  top: 38.6rem;
  background-color: #e7e7e7;
}
.product-comparison-Gib .group-165-Gjq .auto-group-63tu-PpT .line-296-aLX {
  width: 0rem;
  height: 0.1rem;
  position: absolute;
  left: 64.5rem;
  top: 38.6rem;
  background-color: #e7e7e7;
}
.product-comparison-Gib .group-165-Gjq .auto-group-63tu-PpT .line-297-Wzs {
  width: 0rem;
  height: 0.1rem;
  position: absolute;
  left: 98.9rem;
  top: 38.6rem;
  background-color: #e7e7e7;
}
.product-comparison-Gib .group-165-Gjq .auto-group-63tu-PpT .rs-25000000-4Fh {
  width: 13rem;
  height: 2.7rem;
  position: absolute;
  left: 34.3rem;
  top: 26.5rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.product-comparison-Gib .group-165-Gjq .auto-group-63tu-PpT .rs-22400000-kuD {
  width: 12.9rem;
  height: 2.7rem;
  position: absolute;
  left: 67.5rem;
  top: 26.5rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.product-comparison-Gib .group-165-Gjq .auto-group-63tu-PpT .item-42-Gcf {
  width: 2.7rem;
  height: 2.7rem;
  position: absolute;
  left: 67.5rem;
  top: 29.9rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.product-comparison-Gib .group-165-Gjq .auto-group-63tu-PpT .item-47-BzX {
  width: 2.7rem;
  height: 2.7rem;
  position: absolute;
  left: 34.3rem;
  top: 29.9rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.product-comparison-Gib .group-165-Gjq .auto-group-63tu-PpT .group-88-hxs {
  box-sizing: border-box;
  padding: 0.1rem 1rem 0.1rem 0.1rem;
  width: 12.4rem;
  height: 2rem;
  position: absolute;
  left: 37.4rem;
  top: 30.2rem;
  display: flex;
  align-items: center;
}
.product-comparison-Gib .group-165-Gjq .auto-group-63tu-PpT .group-88-hxs .dashicons-star-filled-boM {
  margin-right: 0.8rem;
  width: 1.8rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-63tu-PpT .group-88-hxs .dashicons-star-filled-jPm {
  margin-right: 0.8rem;
  width: 1.8rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-63tu-PpT .group-88-hxs .dashicons-star-filled-GuV {
  margin-right: 0.8rem;
  width: 1.8rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-63tu-PpT .group-88-hxs .dashicons-star-filled-RGb {
  margin-right: 0.7801rem;
  width: 1.8rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-63tu-PpT .group-88-hxs .carbon-star-half-NBq {
  width: 0.92rem;
  height: 1.75rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-63tu-PpT .group-160-uhZ {
  box-sizing: border-box;
  padding: 0.1rem 1rem 0.1rem 0.1rem;
  width: 12.4rem;
  height: 2rem;
  position: absolute;
  left: 70.7rem;
  top: 30.2rem;
  display: flex;
  align-items: center;
}
.product-comparison-Gib .group-165-Gjq .auto-group-63tu-PpT .group-160-uhZ .dashicons-star-filled-oY3 {
  margin-right: 0.8rem;
  width: 1.8rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-63tu-PpT .group-160-uhZ .dashicons-star-filled-967 {
  margin-right: 0.8rem;
  width: 1.8rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-63tu-PpT .group-160-uhZ .dashicons-star-filled-sno {
  margin-right: 0.8rem;
  width: 1.8rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-63tu-PpT .group-160-uhZ .dashicons-star-filled-QXq {
  margin-right: 0.7801rem;
  width: 1.8rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-63tu-PpT .group-160-uhZ .carbon-star-half-8yd {
  width: 0.92rem;
  height: 1.75rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-63tu-PpT .line-6-tT1 {
  width: 0.1rem;
  height: 3rem;
  position: absolute;
  left: 50.4rem;
  top: 29.7rem;
  background-color: #9f9f9f;
}
.product-comparison-Gib .group-165-Gjq .auto-group-63tu-PpT .line-298-23R {
  width: 0.1rem;
  height: 3rem;
  position: absolute;
  left: 83.1rem;
  top: 29.7rem;
  background-color: #9f9f9f;
}
.product-comparison-Gib .group-165-Gjq .auto-group-63tu-PpT .review-ZJF {
  width: 7.3rem;
  height: 2rem;
  position: absolute;
  left: 51.3rem;
  top: 30.2rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5;
  color: #9f9f9f;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.product-comparison-Gib .group-165-Gjq .auto-group-63tu-PpT .review-GTZ {
  width: 7rem;
  height: 2rem;
  position: absolute;
  left: 83.9rem;
  top: 30.2rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5;
  color: #9f9f9f;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.product-comparison-Gib .group-165-Gjq .auto-group-63tu-PpT .group-159-PHH {
  width: 24.2rem;
  height: 8.15rem;
  cursor: pointer;
  position: absolute;
  left: 101.9rem;
  top: 8.05rem;
}
.product-comparison-Gib .group-165-Gjq .auto-group-63tu-PpT .group-159-PHH .group-159-7yy {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.product-comparison-Gib .group-165-Gjq .auto-group-63tu-PpT .group-159-PHH .group-159-7yy .add-a-product-HNf {
  margin-bottom: 1.15rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2650000254;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-63tu-PpT .group-159-PHH .group-159-7yy .auto-group-fpck-cQw {
  box-sizing: border-box;
  padding: 1rem 1.5rem 1.1rem 1.8rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #b88e2f;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-63tu-PpT .group-159-PHH .group-159-7yy .auto-group-fpck-cQw .choose-a-product-M7d {
  margin-right: 6.4rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.2649999346;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-63tu-PpT .group-159-PHH .group-159-7yy .auto-group-fpck-cQw .vector-63-GVV {
  margin-top: 0.05rem;
  width: 1.8rem;
  height: 0.85rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .general-P4K {
  margin-left: 4.2rem;
  display: flex;
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 1.2649999346;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 {
  width: 100%;
  height: 218.15rem;
  position: relative;
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .dimensions-S2b {
  width: 16.6rem;
  height: 3.6rem;
  position: absolute;
  left: 4.2rem;
  top: 88.8rem;
  display: flex;
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 1.2649999346;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .warranty-8w1 {
  width: 13.3rem;
  height: 3.6rem;
  position: absolute;
  left: 4.2rem;
  top: 136.7rem;
  display: flex;
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 1.2649999346;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .product-dsm {
  width: 11.7rem;
  height: 3.6rem;
  position: absolute;
  left: 4.2rem;
  top: 44.3rem;
  display: flex;
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 1.2649999346;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .auto-group-tgx7-YUw {
  width: 89rem;
  height: 5.2rem;
  position: absolute;
  left: 4.2rem;
  top: 0.1rem;
  display: flex;
  align-items: center;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .auto-group-tgx7-YUw .sales-package-UNb {
  margin: 2.6rem 17.5rem 0rem 0rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2649999619;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .auto-group-tgx7-YUw .sectional-sofa-z63 {
  margin-right: 19.2rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2649999619;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .auto-group-tgx7-YUw .three-seater-2-single-seater-7Af {
  margin-bottom: 0.1rem;
  max-width: 22.5rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2649999619;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .auto-group-rhgk-DjV {
  width: 76.8rem;
  height: 2.6rem;
  position: absolute;
  left: 4.2rem;
  top: 95.1rem;
  display: flex;
  align-items: center;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .auto-group-rhgk-DjV .width-Z2f {
  margin-right: 26.2rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2649999619;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .auto-group-rhgk-DjV .cm-6HV {
  margin-right: 24.1rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2649999619;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .auto-group-rhgk-DjV .cm-pjH {
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2649999619;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .auto-group-fqrv-mPd {
  width: 86.6rem;
  height: 5.5rem;
  position: absolute;
  left: 4.2rem;
  top: 143rem;
  display: flex;
  align-items: flex-start;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .auto-group-fqrv-mPd .warranty-summary-6Ru {
  margin-right: 12.4rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2649999619;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .auto-group-fqrv-mPd .year-manufacturing-warranty-Rj5 {
  margin: 0.4rem 10.4rem 0rem 0rem;
  max-width: 21.5rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2649999619;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .auto-group-fqrv-mPd .year-manufacturing-warranty-jDy {
  max-width: 22.6rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2649999619;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .auto-group-jjyv-4GF {
  width: 81.6rem;
  height: 2.6rem;
  position: absolute;
  left: 4.2rem;
  top: 8.6rem;
  display: flex;
  align-items: center;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .auto-group-jjyv-4GF .model-number-P3d {
  margin-right: 17.3rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2649999619;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .auto-group-jjyv-4GF .tfcbligrbl6srhs-JwH {
  margin-right: 17.1rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2649999619;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .auto-group-jjyv-4GF .dtubligrbl568-EK9 {
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2649999619;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .auto-group-wnby-Aib {
  width: 72.7rem;
  height: 2.6rem;
  position: absolute;
  left: 4.2rem;
  top: 101rem;
  display: flex;
  align-items: center;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .auto-group-wnby-Aib .height-6s9 {
  margin-right: 25.6rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2649999619;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .auto-group-wnby-Aib .cm-e7y {
  margin-right: 28.2rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2649999619;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .auto-group-wnby-Aib .cm-nEB {
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2649999619;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .auto-group-zaat-XhZ {
  width: 72.3rem;
  height: 2.6rem;
  position: absolute;
  left: 4.2rem;
  top: 50.6rem;
  display: flex;
  align-items: center;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .auto-group-zaat-XhZ .filling-material-rzj {
  margin-right: 17.8rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2649999619;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .auto-group-zaat-XhZ .foam-zr3 {
  margin-right: 28.6rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2649999619;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .auto-group-zaat-XhZ .matte-YMm {
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2649999619;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .auto-group-w1wm-V27 {
  width: 84rem;
  height: 2.6rem;
  position: absolute;
  left: 4.2rem;
  top: 56.5rem;
  display: flex;
  align-items: center;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .auto-group-w1wm-V27 .finish-type-ccX {
  margin-right: 21.1rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2649999619;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .auto-group-w1wm-V27 .bright-grey-lion-xAb {
  margin-right: 16.9rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2649999619;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .auto-group-w1wm-V27 .bright-grey-lion-t4F {
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2649999619;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .auto-group-c5rq-1uZ {
  width: 70rem;
  height: 2.6rem;
  position: absolute;
  left: 4.2rem;
  top: 62.4rem;
  display: flex;
  align-items: center;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .auto-group-c5rq-1uZ .adjustable-headrest-MCj {
  margin-right: 11.7rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2649999619;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .auto-group-c5rq-1uZ .no-H6P {
  margin-right: 31.7rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2649999619;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .auto-group-c5rq-1uZ .yes-oqR {
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2649999619;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .auto-group-6k2b-XFd {
  width: 73.5rem;
  height: 5.1rem;
  position: absolute;
  left: 4.2rem;
  top: 68.3rem;
  display: flex;
  align-items: flex-start;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .auto-group-6k2b-XFd .maximum-load-capacity-3jm {
  margin-right: 16.7rem;
  max-width: 15.4rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2649999619;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .auto-group-6k2b-XFd .kg-Zi7 {
  margin-right: 27.4rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2649999619;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .auto-group-6k2b-XFd .kg-Hu1 {
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2649999619;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .auto-group-ydrz-SG7 {
  width: 71.5rem;
  height: 2.6rem;
  position: absolute;
  left: 4.2rem;
  top: 76.7rem;
  display: flex;
  align-items: center;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .auto-group-ydrz-SG7 .origin-of-manufacture-ZrX {
  margin-right: 10.3rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2649999619;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .auto-group-ydrz-SG7 .india-u9h {
  margin-right: 29.4rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2649999619;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .auto-group-ydrz-SG7 .india-q3M {
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2649999619;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .auto-group-c6jk-xdm {
  width: 86.9rem;
  height: 12.7rem;
  position: absolute;
  left: 4.2rem;
  top: 151.75rem;
  display: flex;
  align-items: flex-start;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .auto-group-c6jk-xdm .warranty-service-type-HR9 {
  margin: 0.05rem 14.5rem 0rem 0rem;
  max-width: 17.6rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2649999619;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .auto-group-c6jk-xdm .for-warranty-claims-or-any-product-related-issues-please-email-at-operationstrevifurniturecom-BmR {
  margin-right: 7.8rem;
  max-width: 23.5rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2649999619;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .auto-group-c6jk-xdm .for-warranty-claims-or-any-product-related-issues-please-email-at-supportxyzcom-seF {
  margin-top: 0.5rem;
  max-width: 23.5rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2649999619;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .auto-group-zyn3-mDq {
  width: 77.7rem;
  height: 2.6rem;
  position: absolute;
  left: 4.2rem;
  top: 14.5rem;
  display: flex;
  align-items: center;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .auto-group-zyn3-mDq .secondary-material-Hhy {
  margin-right: 12.6rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2649999619;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .auto-group-zyn3-mDq .solid-wood-DrX {
  margin-right: 23.2rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2649999619;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .auto-group-zyn3-mDq .solid-wood-xJK {
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2649999619;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .auto-group-33z1-Jd5 {
  width: 76.1rem;
  height: 2.6rem;
  position: absolute;
  left: 4.2rem;
  top: 106.9rem;
  display: flex;
  align-items: center;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .auto-group-33z1-Jd5 .depth-SDV {
  margin-right: 26rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2649999619;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .auto-group-33z1-Jd5 .cm-Nsq {
  margin-right: 24.8rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2649999619;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .auto-group-33z1-Jd5 .cm-v8f {
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2649999619;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .auto-group-anwq-fc3 {
  width: 87.5rem;
  height: 10.2rem;
  position: absolute;
  left: 4.2rem;
  top: 167.25rem;
  display: flex;
  align-items: flex-start;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .auto-group-anwq-fc3 .covered-in-warranty-CM5 {
  margin: 0.45rem 11.4rem 0rem 0rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2649999619;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .auto-group-anwq-fc3 .warranty-against-manufacturing-defect-WMm {
  margin: 0.55rem 9.5rem 0rem 0rem;
  max-width: 21.8rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2649999619;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .auto-group-anwq-fc3 .warranty-of-the-product-is-limited-to-manufacturing-defects-only-orf {
  max-width: 24.1rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2649999619;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .auto-group-5bvo-K4K {
  width: 76.1rem;
  height: 2.6rem;
  position: absolute;
  left: 4.2rem;
  top: 20.4rem;
  display: flex;
  align-items: center;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .auto-group-5bvo-K4K .configuration-qoM {
  margin-right: 18.3rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2649999619;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .auto-group-5bvo-K4K .l-shaped-aF9 {
  margin-right: 24.8rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2649999619;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .auto-group-5bvo-K4K .l-shaped-Jwq {
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2649999619;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .auto-group-svco-riT {
  width: 72.4rem;
  height: 2.6rem;
  position: absolute;
  left: 4.2rem;
  top: 112.8rem;
  display: flex;
  align-items: center;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .auto-group-svco-riT .weight-zJs {
  margin-right: 25rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2649999619;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .auto-group-svco-riT .kg-jXM {
  margin-right: 28.5rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2649999619;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .auto-group-svco-riT .kg-UUw {
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2649999619;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .auto-group-mqkt-DxK {
  width: 82rem;
  height: 2.6rem;
  position: absolute;
  left: 4.2rem;
  top: 26.3rem;
  display: flex;
  align-items: center;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .auto-group-mqkt-DxK .upholstery-material-ZWP {
  margin-right: 12.8rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2649999619;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .auto-group-mqkt-DxK .fabric-cotton-hMh {
  margin-right: 18.9rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2649999619;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .auto-group-mqkt-DxK .fabric-cotton-RoV {
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2649999619;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .auto-group-bckx-ya7 {
  width: 75.1rem;
  height: 2.6rem;
  position: absolute;
  left: 4.2rem;
  top: 118.7rem;
  display: flex;
  align-items: center;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .auto-group-bckx-ya7 .seat-height-i1u {
  margin-right: 20.5rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2649999619;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .auto-group-bckx-ya7 .cm-2oH {
  margin-right: 25.8rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2649999619;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .auto-group-bckx-ya7 .cm-NcF {
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2649999619;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .auto-group-gwlo-vNs {
  width: 84rem;
  height: 2.6rem;
  position: absolute;
  left: 4.2rem;
  top: 32.2rem;
  display: flex;
  align-items: center;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .auto-group-gwlo-vNs .upholstery-color-4EB {
  margin-right: 15.5rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2649999619;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .auto-group-gwlo-vNs .bright-grey-lion-zNj {
  margin-right: 16.9rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2649999619;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .auto-group-gwlo-vNs .bright-grey-lion-XNf {
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2649999619;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .auto-group-xk99-GLF {
  width: 74.6rem;
  height: 2.6rem;
  position: absolute;
  left: 4.2rem;
  top: 124.6rem;
  display: flex;
  align-items: center;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .auto-group-xk99-GLF .leg-height-bNX {
  margin-right: 21.6rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2649999619;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .auto-group-xk99-GLF .cm-8NT {
  margin-right: 26.3rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2649999619;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .auto-group-xk99-GLF .cm-4mu {
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2649999619;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .group-167-DPu {
  width: 87rem;
  height: 36.05rem;
  position: absolute;
  left: 3.9rem;
  top: 182.1rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .group-167-DPu .group-166-YSB {
  margin-bottom: 5.25rem;
  width: 100%;
  height: 24.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .group-167-DPu .group-166-YSB .auto-group-2tgb-goH {
  box-sizing: border-box;
  padding: 0.1rem 6.5rem 0.1rem 0rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .group-167-DPu .group-166-YSB .auto-group-2tgb-goH .auto-group-31fv-peb {
  margin: 0.1rem 12.8rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .group-167-DPu .group-166-YSB .auto-group-2tgb-goH .auto-group-31fv-peb .not-covered-in-warranty-ACf {
  margin-bottom: 15.8rem;
  max-width: 14.8rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2649999619;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .group-167-DPu .group-166-YSB .auto-group-2tgb-goH .auto-group-31fv-peb .domestic-warranty-sMy {
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2649999619;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .group-167-DPu .group-166-YSB .auto-group-2tgb-goH .auto-group-fksy-1j5 {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .group-167-DPu .group-166-YSB .auto-group-2tgb-goH .auto-group-fksy-1j5 .the-warranty-does-not-cover-damages-due-to-usage-of-the-product-beyond-its-intended-use-and-wear-tear-in-the-natural-course-of-product-usage-yfu {
  margin-bottom: 3.2rem;
  max-width: 24.2rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2649999619;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .group-167-DPu .group-166-YSB .auto-group-2tgb-goH .auto-group-fksy-1j5 .year-T5H {
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2649999619;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .group-167-DPu .group-166-YSB .auto-group-iwcf-CHm {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .group-167-DPu .group-166-YSB .auto-group-iwcf-CHm .the-warranty-does-not-cover-damages-due-to-usage-of-the-product-beyond-its-intended-use-and-wear-tear-in-the-natural-course-of-product-usage-xGw {
  margin-bottom: 4rem;
  max-width: 24.2rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2649999619;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .group-167-DPu .group-166-YSB .auto-group-iwcf-CHm .months-EVM {
  margin-left: 0.4rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2649999619;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .group-167-DPu .auto-group-f9np-Z1q {
  margin: 0rem 3.1rem 0rem 30.1rem;
  width: calc(100% - 33.2rem);
  height: 6.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .group-167-DPu .auto-group-f9np-Z1q .group-21-UPh {
  margin-right: 10.8rem;
  width: 21.5rem;
  height: 100%;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #b88e2f;
  box-sizing: border-box;
  background-color: #b88e2f;
  flex-shrink: 0;
}
.product-comparison-Gib .group-165-Gjq .auto-group-ubdh-7W7 .group-167-DPu .auto-group-f9np-Z1q .group-165-w2P {
  width: 21.5rem;
  height: 100%;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #b88e2f;
  box-sizing: border-box;
  background-color: #b88e2f;
  flex-shrink: 0;
}
.product-comparison-Gib .frame-161-Cyu {
  box-sizing: border-box;
  padding: 10rem 5.3rem 8.5rem 5.3rem;
  width: 100%;
  height: 27rem;
  background-color: #faf3ea;
  flex-shrink: 0;
}
.product-comparison-Gib .frame-161-Cyu .feature-98T {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
}
.product-comparison-Gib .frame-161-Cyu .feature-98T .frame-5-h9y {
  margin-right: 5.4333rem;
  box-sizing: border-box;
  padding-left: 0.3614rem;
  height: 7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.product-comparison-Gib .frame-161-Cyu .feature-98T .frame-5-h9y .trophy-1-cnj {
  margin-right: 1.3614rem;
  width: 5.2772rem;
  height: 6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.product-comparison-Gib .frame-161-Cyu .feature-98T .frame-5-h9y .text-MVR {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.product-comparison-Gib .frame-161-Cyu .feature-98T .frame-5-h9y .text-MVR .high-quality-7zP {
  margin-bottom: 0.2rem;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.5;
  color: #242424;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .frame-161-Cyu .feature-98T .frame-5-h9y .text-MVR .crafted-from-top-materials-48w {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #898989;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .frame-161-Cyu .feature-98T .frame-19-nKq {
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.product-comparison-Gib .frame-161-Cyu .feature-98T .frame-19-nKq .guarantee-kGf {
  margin: 0.594rem 0.1rem 0rem 0rem;
  width: 6rem;
  height: 5.8125rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.product-comparison-Gib .frame-161-Cyu .feature-98T .frame-19-nKq .auto-group-ufq9-UTZ {
  box-sizing: border-box;
  padding-left: 0.9rem;
  width: 26.7rem;
  height: 100%;
  flex-shrink: 0;
}
.product-comparison-Gib .frame-161-Cyu .feature-98T .frame-19-nKq .auto-group-ufq9-UTZ .text-RNo {
  width: 100%;
  height: 7rem;
  display: flex;
  flex-direction: column;
}
.product-comparison-Gib .frame-161-Cyu .feature-98T .frame-19-nKq .auto-group-ufq9-UTZ .text-RNo .warranty-protection-P4j {
  margin-bottom: 0.2rem;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.5;
  color: #242424;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .frame-161-Cyu .feature-98T .frame-19-nKq .auto-group-ufq9-UTZ .text-RNo .over-2-years-KDH {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #898989;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .frame-161-Cyu .feature-98T .auto-group-6wyw-4As {
  box-sizing: border-box;
  padding-left: 5.5333rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.product-comparison-Gib .frame-161-Cyu .feature-98T .auto-group-6wyw-4As .frame-2-o8T {
  margin-right: 5.5333rem;
  height: 7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.product-comparison-Gib .frame-161-Cyu .feature-98T .auto-group-6wyw-4As .frame-2-o8T .shipping-8wR {
  margin: 0rem 1rem 0rem 0rem;
  width: 6rem;
  height: 5.5971rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.product-comparison-Gib .frame-161-Cyu .feature-98T .auto-group-6wyw-4As .frame-2-o8T .text-GXq {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.product-comparison-Gib .frame-161-Cyu .feature-98T .auto-group-6wyw-4As .frame-2-o8T .text-GXq .free-shipping-EUf {
  margin-bottom: 0.2rem;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.5;
  color: #242424;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .frame-161-Cyu .feature-98T .auto-group-6wyw-4As .frame-2-o8T .text-GXq .order-over-150--NKy {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #898989;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .frame-161-Cyu .feature-98T .auto-group-6wyw-4As .frame-4-72f {
  box-sizing: border-box;
  padding-left: 0.3529rem;
  height: 7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.product-comparison-Gib .frame-161-Cyu .feature-98T .auto-group-6wyw-4As .frame-4-72f .customer-support-f4B {
  margin-right: 1.353rem;
  width: 5.2941rem;
  height: 6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.product-comparison-Gib .frame-161-Cyu .feature-98T .auto-group-6wyw-4As .frame-4-72f .text-CZu {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.product-comparison-Gib .frame-161-Cyu .feature-98T .auto-group-6wyw-4As .frame-4-72f .text-CZu .support-ZvF {
  margin-bottom: 0.2rem;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.5;
  color: #242424;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .frame-161-Cyu .feature-98T .auto-group-6wyw-4As .frame-4-72f .text-CZu .dedicated-support-Wab {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #898989;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .footer-F2P {
  box-sizing: border-box;
  padding: 4.8rem 9.999rem 3.8rem 10rem;
  width: 100%;
  height: 50.5rem;
  border: solid 0.1rem rgba(0, 0, 0, 0.1700000018);
  background-color: #ffffff;
  flex-shrink: 0;
}
.product-comparison-Gib .footer-F2P .group-45-nHD {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.product-comparison-Gib .footer-F2P .group-45-nHD .group-32-LZd {
  margin: 0rem 10.7rem 4.8rem 0rem;
  width: calc(100% - 10.7004rem);
  height: 31.2rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.product-comparison-Gib .footer-F2P .group-45-nHD .group-32-LZd .auto-group-co4b-Fgb {
  margin-right: 13.6rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.product-comparison-Gib .footer-F2P .group-45-nHD .group-32-LZd .auto-group-co4b-Fgb .funiro-QZV {
  margin-bottom: 5rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .footer-F2P .group-45-nHD .group-32-LZd .auto-group-co4b-Fgb .university-drive-suite-200-coral-gables-fl-33134-usa-wpK {
  margin-left: 0.2008rem;
  max-width: 28.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #9f9f9f;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.product-comparison-Gib .footer-F2P .group-45-nHD .group-32-LZd .group-31-Fa7 {
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.product-comparison-Gib .footer-F2P .group-45-nHD .group-32-LZd .group-31-Fa7 .group-28-pNK {
  margin-right: 7.2rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.product-comparison-Gib .footer-F2P .group-45-nHD .group-32-LZd .group-31-Fa7 .group-28-pNK .group-26-n4F {
  margin-right: 14.4rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.product-comparison-Gib .footer-F2P .group-45-nHD .group-32-LZd .group-31-Fa7 .group-28-pNK .group-26-n4F .links-jkB {
  margin-bottom: 5.5rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #9f9f9f;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .footer-F2P .group-45-nHD .group-32-LZd .group-31-Fa7 .group-28-pNK .group-26-n4F .group-24-t7H {
  margin-left: 0.2rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.product-comparison-Gib .footer-F2P .group-45-nHD .group-32-LZd .group-31-Fa7 .group-28-pNK .group-26-n4F .group-24-t7H .home-daf {
  margin-bottom: 4.6rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .footer-F2P .group-45-nHD .group-32-LZd .group-31-Fa7 .group-28-pNK .group-26-n4F .group-24-t7H .shop-yPd {
  margin-bottom: 4.6rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .footer-F2P .group-45-nHD .group-32-LZd .group-31-Fa7 .group-28-pNK .group-26-n4F .group-24-t7H .about-KTV {
  margin-bottom: 4.5rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .footer-F2P .group-45-nHD .group-32-LZd .group-31-Fa7 .group-28-pNK .group-26-n4F .group-24-t7H .contact-GNj {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .footer-F2P .group-45-nHD .group-32-LZd .group-31-Fa7 .group-28-pNK .group-27-nM5 {
  width: 14rem;
  flex-shrink: 0;
}
.product-comparison-Gib .footer-F2P .group-45-nHD .group-32-LZd .group-31-Fa7 .group-28-pNK .group-27-nM5 .help-ikX {
  margin-bottom: 5.5rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #9f9f9f;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.product-comparison-Gib .footer-F2P .group-45-nHD .group-32-LZd .group-31-Fa7 .group-28-pNK .group-27-nM5 .group-25-Bu1 {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.product-comparison-Gib .footer-F2P .group-45-nHD .group-32-LZd .group-31-Fa7 .group-28-pNK .group-27-nM5 .group-25-Bu1 .payment-options-KkK {
  margin-bottom: 4.6rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .footer-F2P .group-45-nHD .group-32-LZd .group-31-Fa7 .group-28-pNK .group-27-nM5 .group-25-Bu1 .returns-dFD {
  margin-bottom: 4.5rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .footer-F2P .group-45-nHD .group-32-LZd .group-31-Fa7 .group-28-pNK .group-27-nM5 .group-25-Bu1 .privacy-policies-P7u {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .footer-F2P .group-45-nHD .group-32-LZd .group-31-Fa7 .group-30-fLK {
  margin-top: 0.2rem;
  width: 28.6003rem;
  flex-shrink: 0;
}
.product-comparison-Gib .footer-F2P .group-45-nHD .group-32-LZd .group-31-Fa7 .group-30-fLK .newsletter-ztP {
  margin-bottom: 5.3rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #9f9f9f;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.product-comparison-Gib .footer-F2P .group-45-nHD .group-32-LZd .group-31-Fa7 .group-30-fLK .group-29-8zb {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.product-comparison-Gib .footer-F2P .group-45-nHD .group-32-LZd .group-31-Fa7 .group-30-fLK .group-29-8zb .auto-group-3hdz-h27 {
  margin: 0rem 0rem 0.3rem 0rem;
  width: calc(100% - 0.0003rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.product-comparison-Gib .footer-F2P .group-45-nHD .group-32-LZd .group-31-Fa7 .group-30-fLK .group-29-8zb .auto-group-3hdz-h27 .enter-your-email-address-1Yb {
  margin-right: 3.8rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #9f9f9f;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .footer-F2P .group-45-nHD .group-32-LZd .group-31-Fa7 .group-30-fLK .group-29-8zb .auto-group-3hdz-h27 .subscribe-Y2j {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-comparison-Gib .footer-F2P .group-45-nHD .group-32-LZd .group-31-Fa7 .group-30-fLK .group-29-8zb .auto-group-zqqb-4mm {
  width: 100%;
  height: 0.1rem;
  border-top: solid 0.1rem #000000;
  box-sizing: border-box;
  flex-shrink: 0;
}
.product-comparison-Gib .footer-F2P .group-45-nHD .group-44-y83 {
  margin-left: 0rem;
  box-sizing: border-box;
  padding: 3.5rem 0.201rem 0rem 0.201rem;
  width: calc(100% - 0rem);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  border-top: solid 0.1rem #d9d9d9;
  flex-shrink: 0;
}
