
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.product-comparison-Gib {
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  flex-direction: column;
  box-sizing: border-box;
  padding-bottom: 5rem;
  align-items: center;
  display: flex;

  .header-BqZ {
    padding: 2.9rem 10rem 2.9rem 5.4rem;
    width: 100%;
    height: 10rem;
    background-color: #ffffff;
    flex-shrink: 0;
    box-sizing: border-box;

    .group-168-7UK {
      width: 100%;
      height: 100%;
      position: relative;

      .group-2-UJs {
        width: 43rem;
        height: 2.4rem;
        position: absolute;
        left: 45.1rem;
        top: 0.9rem;
        display: flex;
        column-gap: 7.5rem;
        align-items: center;

        .home-zY7 {
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .shop-8PR {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
        }
        .about-sro {
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
        .contact-RdR {
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .group-1-xdM {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        padding-right: 0.1797rem;
        width: 128.6rem;
        height: 4.2rem;
        cursor: pointer;
        position: absolute;
        left: 0;
        top: 0;

        .frame-168-g3Z {
          margin-right: 85.6333rem;
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .meubel-houselogos-05-pfZ {
            width: 5rem;
            height: 3.2rem;
            background-size: 154% 240.625%;
            background-position: -1.3rem -2.2rem;
            background-image: url('REPLACE_IMAGE:2727769ba74736d502746301ed573ed8940fc322');
            flex-shrink: 0;
            margin: 0rem 0.5rem 0.1rem 0rem;

            .meubel-houselogos-05-pfZ-bg {
              width: 5rem;
              height: 3.2rem;
              position: relative;
              background-image: url('REPLACE_IMAGE:2727769ba74736d502746301ed573ed8940fc322');
            }
          }
          .skinclinic-4K1 {
            font-weight: 700;
            line-height: 1.2175;
            color: #000000;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 3.4rem;
          }
        }
        .mdi-account-alert-outline-zTZ {
          margin: 0rem 4.967rem 0rem 0rem;
          width: 2.3333rem;
          height: 1.8667rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .akar-icons-search-VQK {
          margin: 0rem 5.083rem 0.117rem 0rem;
          width: 2.2167rem;
          height: 2.2167rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .akar-icons-heart-1dZ {
          margin: 0rem 4.901rem 0.019rem 0rem;
          width: 2.3333rem;
          height: 2.0806rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .ant-design-shopping-cart-outlined-8y5 {
          vertical-align: top;
          flex-shrink: 0;
          margin-top: 0.1168rem;
          width: 2.453rem;
          height: 2.2058rem;
          object-fit: contain;
        }
      }
    }
  }
  .group-78-egX {
    flex-shrink: 0;
    padding: 6.1rem 46.9rem 9.7rem 46.9rem;
    width: 100%;
    align-items: center;
    background-size: 100% 100%;
    background-position: center;
    background-image: url('REPLACE_IMAGE:1461f3d6ff74c027a1888544144abe4be6e02cbf');
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    filter: blur(0.3rem);
    background-repeat: no-repeat;

    .frame-55-yTu {
      position: relative;
      flex-shrink: 0;
      margin-bottom: 0.1rem;
      width: 100%;
      height: 13.3rem;

      .meubel-houselogos-05-XVR {
        position: absolute;
        left: 21.25rem;
        top: 0;
        object-fit: cover;
        vertical-align: top;
        width: 7.7rem;
        height: 7.7rem;
      }
      .product-comparison-Tdy {
        height: 7.2rem;
        position: absolute;
        left: 0;
        font-weight: 500;
        line-height: 1.5;
        white-space: nowrap;
        width: 50.2rem;
        text-align: center;
        font-size: 4.8rem;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        top: 6.1rem;
      }
    }
    .group-56-xqd {
      column-gap: 1.2rem;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 13.2rem 0rem 19.1rem;
      width: calc(100% - 32.3rem);
      display: flex;

      .home-gmd {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .dashicons-arrow-down-alt2-pcw {
        width: 0.8rem;
        height: 1.4rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .comparison-xj9 {
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 300;
        line-height: 1.5;
        color: #000000;
      }
    }
  }
  .group-165-Gjq {
    margin: 0rem 5.4rem 11.2rem 5.4rem;
    width: calc(100% - 10.8rem);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-63tu-PpT {
      width: 100%;
      height: 39.2rem;
      position: relative;
      flex-shrink: 0;
      margin-bottom: 3.55rem;

      .go-to-product-page-for-more-products-hKM {
        height: 10.7rem;
        display: flex;
        font-size: 2.8rem;
        line-height: 1.2649999346;
        font-family: Poppins, 'Source Sans Pro';
        color: #000000;
        width: 20.9rem;
        position: absolute;
        left: 4.2rem;
        top: 5.4rem;
        font-weight: 500;
      }
      .asgaard-sofa-NwH {
        display: flex;
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.2650000254;
        width: 16.5rem;
        top: 22.85rem;
        left: 34.2rem;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        height: 3.1rem;
        position: absolute;
      }
      .outdoor-sofa-set-tPq {
        width: 20.5rem;
        display: flex;
        line-height: 1.2650000254;
        font-family: Poppins, 'Source Sans Pro';
        color: #000000;
        white-space: nowrap;
        height: 3.1rem;
        position: absolute;
        left: 67.4rem;
        top: 22.85rem;
        font-size: 2.4rem;
        font-weight: 500;
      }
      .group-8-zSs {
        font-weight: 500;
        color: #717171;
        white-space: nowrap;
        border-bottom: solid 0.2rem #717171;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        width: 11.5rem;
        height: 3.5rem;
        position: absolute;
        left: 4.2rem;
        top: 18.1rem;
        font-size: 2rem;
        box-sizing: border-box;
      }
      .line-294-HRy {
        width: 133.2rem;
        height: 0.1rem;
        position: absolute;
        left: 0;
        top: 38.6rem;
        background-color: #e7e7e7;
      }
      .group-157-hkb {
        cursor: pointer;
        position: absolute;
        left: 66.7rem;
        top: 0;
        width: 28.3rem;
        height: 21.1rem;

        .group-159-3Jf {
          width: 28rem;
          height: 17.7rem;
          position: absolute;
          left: 0.3rem;
          top: 3.4rem;
          border-radius: 1rem;

          .rectangle-39-a3h {
            width: 100%;
            height: 17.7rem;
            background-color: #f9f1e7;
            border-radius: 1rem;
          }
        }
        .outdoor-sofa-set-1-JEb {
          width: 27.1rem;
          height: 20.1rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .group-156-E8F {
        top: 3.4rem;
        width: 28rem;
        height: 17.7rem;
        cursor: pointer;
        position: absolute;
        left: 34rem;

        .group-160-Anb {
          width: 100%;
          height: 100%;
          background-color: #f9f1e7;
          border-radius: 1rem;
          box-sizing: border-box;
          padding: 2rem 2.2rem 1.5rem 1.9rem;

          .asgaard-sofa-3-K9h {
            height: 14.2rem;
            object-fit: cover;
            vertical-align: top;
            width: 23.9rem;
          }
        }
      }
      .line-295-SVD {
        top: 38.6rem;
        background-color: #e7e7e7;
        width: 0rem;
        height: 0.1rem;
        position: absolute;
        left: 30.1rem;
      }
      .line-296-aLX {
        position: absolute;
        left: 64.5rem;
        top: 38.6rem;
        background-color: #e7e7e7;
        width: 0rem;
        height: 0.1rem;
      }
      .line-297-Wzs {
        width: 0rem;
        height: 0.1rem;
        position: absolute;
        left: 98.9rem;
        top: 38.6rem;
        background-color: #e7e7e7;
      }
      .rs-25000000-4Fh {
        height: 2.7rem;
        white-space: nowrap;
        top: 26.5rem;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.5;
        color: #000000;
        width: 13rem;
        position: absolute;
        left: 34.3rem;
        font-family: Poppins, 'Source Sans Pro';
      }
      .rs-22400000-kuD {
        left: 67.5rem;
        top: 26.5rem;
        line-height: 1.5;
        color: #000000;
        white-space: nowrap;
        width: 12.9rem;
        position: absolute;
        font-weight: 500;
        font-family: Poppins, 'Source Sans Pro';
        height: 2.7rem;
        font-size: 1.8rem;
      }
      .item-42-Gcf {
        width: 2.7rem;
        left: 67.5rem;
        top: 29.9rem;
        font-weight: 500;
        font-family: Poppins, 'Source Sans Pro';
        height: 2.7rem;
        position: absolute;
        font-size: 1.8rem;
        line-height: 1.5;
        color: #000000;
        white-space: nowrap;
      }
      .item-47-BzX {
        top: 29.9rem;
        font-weight: 500;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        width: 2.7rem;
        height: 2.7rem;
        position: absolute;
        left: 34.3rem;
        font-size: 1.8rem;
        color: #000000;
      }
      .group-88-hxs {
        position: absolute;
        top: 30.2rem;
        display: flex;
        padding: 0.1rem 1rem 0.1rem 0.1rem;
        height: 2rem;
        left: 37.4rem;
        align-items: center;
        box-sizing: border-box;
        width: 12.4rem;

        .dashicons-star-filled-boM {
          margin-right: 0.8rem;
          width: 1.8rem;
          height: 1.8rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .dashicons-star-filled-jPm {
          margin-right: 0.8rem;
          width: 1.8rem;
          height: 1.8rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .dashicons-star-filled-GuV {
          margin-right: 0.8rem;
          width: 1.8rem;
          height: 1.8rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .dashicons-star-filled-RGb {
          width: 1.8rem;
          height: 1.8rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 0.7801rem;
        }
        .carbon-star-half-NBq {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 0.92rem;
          height: 1.75rem;
        }
      }
      .group-160-uhZ {
        width: 12.4rem;
        left: 70.7rem;
        top: 30.2rem;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        padding: 0.1rem 1rem 0.1rem 0.1rem;
        height: 2rem;
        position: absolute;

        .dashicons-star-filled-oY3 {
          margin-right: 0.8rem;
          width: 1.8rem;
          height: 1.8rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .dashicons-star-filled-967 {
          width: 1.8rem;
          height: 1.8rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 0.8rem;
        }
        .dashicons-star-filled-sno {
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 0.8rem;
          width: 1.8rem;
          height: 1.8rem;
          object-fit: contain;
        }
        .dashicons-star-filled-QXq {
          width: 1.8rem;
          height: 1.8rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 0.7801rem;
        }
        .carbon-star-half-8yd {
          width: 0.92rem;
          height: 1.75rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .line-6-tT1 {
        width: 0.1rem;
        height: 3rem;
        position: absolute;
        left: 50.4rem;
        top: 29.7rem;
        background-color: #9f9f9f;
      }
      .line-298-23R {
        width: 0.1rem;
        height: 3rem;
        position: absolute;
        left: 83.1rem;
        top: 29.7rem;
        background-color: #9f9f9f;
      }
      .review-ZJF {
        top: 30.2rem;
        font-size: 1.3rem;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        width: 7.3rem;
        position: absolute;
        font-weight: 400;
        line-height: 1.5;
        color: #9f9f9f;
        height: 2rem;
        left: 51.3rem;
      }
      .review-GTZ {
        height: 2rem;
        position: absolute;
        left: 83.9rem;
        font-size: 1.3rem;
        line-height: 1.5;
        white-space: nowrap;
        width: 7rem;
        top: 30.2rem;
        font-weight: 400;
        color: #9f9f9f;
        font-family: Poppins, 'Source Sans Pro';
      }
      .group-159-PHH {
        width: 24.2rem;
        height: 8.15rem;
        cursor: pointer;
        position: absolute;
        left: 101.9rem;
        top: 8.05rem;

        .group-159-7yy {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;

          .add-a-product-HNf {
            white-space: nowrap;
            font-size: 2.4rem;
            font-weight: 600;
            line-height: 1.2650000254;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 1.15rem;
            display: flex;
          }
          .auto-group-fpck-cQw {
            border-radius: 0.6rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1rem 1.5rem 1.1rem 1.8rem;
            width: 100%;
            display: flex;
            align-items: center;
            background-color: #b88e2f;

            .choose-a-product-M7d {
              font-family: Poppins, 'Source Sans Pro';
              flex-shrink: 0;
              margin-right: 6.4rem;
              display: flex;
              font-size: 1.4rem;
              font-weight: 600;
              line-height: 1.2649999346;
              color: #ffffff;
              white-space: nowrap;
            }
            .vector-63-GVV {
              margin-top: 0.05rem;
              width: 1.8rem;
              height: 0.85rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
      }
    }
    .general-P4K {
      font-weight: 500;
      line-height: 1.2649999346;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-left: 4.2rem;
      display: flex;
      font-size: 2.8rem;
    }
    .auto-group-ubdh-7W7 {
      position: relative;
      flex-shrink: 0;
      width: 100%;
      height: 218.15rem;

      .dimensions-S2b {
        top: 88.8rem;
        display: flex;
        line-height: 1.2649999346;
        font-family: Poppins, 'Source Sans Pro';
        width: 16.6rem;
        height: 3.6rem;
        left: 4.2rem;
        color: #000000;
        white-space: nowrap;
        position: absolute;
        font-size: 2.8rem;
        font-weight: 500;
      }
      .warranty-8w1 {
        height: 3.6rem;
        font-size: 2.8rem;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        font-weight: 500;
        line-height: 1.2649999346;
        width: 13.3rem;
        position: absolute;
        left: 4.2rem;
        top: 136.7rem;
        display: flex;
      }
      .product-dsm {
        font-weight: 500;
        font-family: Poppins, 'Source Sans Pro';
        position: absolute;
        top: 44.3rem;
        font-size: 2.8rem;
        display: flex;
        line-height: 1.2649999346;
        color: #000000;
        white-space: nowrap;
        width: 11.7rem;
        height: 3.6rem;
        left: 4.2rem;
      }
      .auto-group-tgx7-YUw {
        position: absolute;
        left: 4.2rem;
        top: 0.1rem;
        display: flex;
        align-items: center;
        width: 89rem;
        height: 5.2rem;

        .sales-package-UNb {
          margin: 2.6rem 17.5rem 0rem 0rem;
          font-size: 2rem;
          font-weight: 400;
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          line-height: 1.2649999619;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
        }
        .sectional-sofa-z63 {
          margin-right: 19.2rem;
          font-weight: 400;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          font-size: 2rem;
          line-height: 1.2649999619;
          flex-shrink: 0;
        }
        .three-seater-2-single-seater-7Af {
          margin-bottom: 0.1rem;
          font-size: 2rem;
          line-height: 1.2649999619;
          flex-shrink: 0;
          font-family: Poppins, 'Source Sans Pro';
          max-width: 22.5rem;
          display: flex;
          font-weight: 400;
          color: #000000;
        }
      }
      .auto-group-rhgk-DjV {
        width: 76.8rem;
        height: 2.6rem;
        position: absolute;
        left: 4.2rem;
        top: 95.1rem;
        display: flex;
        align-items: center;

        .width-Z2f {
          white-space: nowrap;
          flex-shrink: 0;
          font-weight: 400;
          line-height: 1.2649999619;
          font-size: 2rem;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          margin-right: 26.2rem;
          display: flex;
        }
        .cm-6HV {
          line-height: 1.2649999619;
          color: #000000;
          margin-right: 24.1rem;
          display: flex;
          font-size: 2rem;
          font-weight: 400;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .cm-pjH {
          flex-shrink: 0;
          display: flex;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2649999619;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .auto-group-fqrv-mPd {
        position: absolute;
        left: 4.2rem;
        top: 143rem;
        display: flex;
        align-items: flex-start;
        width: 86.6rem;
        height: 5.5rem;

        .warranty-summary-6Ru {
          font-size: 2rem;
          line-height: 1.2649999619;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 12.4rem;
          display: flex;
          font-weight: 400;
        }
        .year-manufacturing-warranty-Rj5 {
          margin: 0.4rem 10.4rem 0rem 0rem;
          display: flex;
          font-weight: 400;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 21.5rem;
          font-size: 2rem;
          line-height: 1.2649999619;
          color: #000000;
        }
        .year-manufacturing-warranty-jDy {
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 22.6rem;
          display: flex;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2649999619;
        }
      }
      .auto-group-jjyv-4GF {
        left: 4.2rem;
        top: 8.6rem;
        display: flex;
        align-items: center;
        width: 81.6rem;
        height: 2.6rem;
        position: absolute;

        .model-number-P3d {
          display: flex;
          font-weight: 400;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          margin-right: 17.3rem;
          font-size: 2rem;
          line-height: 1.2649999619;
          white-space: nowrap;
        }
        .tfcbligrbl6srhs-JwH {
          display: flex;
          font-size: 2rem;
          line-height: 1.2649999619;
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 17.1rem;
          font-weight: 400;
          font-family: Poppins, 'Source Sans Pro';
        }
        .dtubligrbl568-EK9 {
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2649999619;
        }
      }
      .auto-group-wnby-Aib {
        left: 4.2rem;
        top: 101rem;
        display: flex;
        align-items: center;
        width: 72.7rem;
        height: 2.6rem;
        position: absolute;

        .height-6s9 {
          display: flex;
          font-weight: 400;
          font-family: Poppins, 'Source Sans Pro';
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 25.6rem;
          font-size: 2rem;
          line-height: 1.2649999619;
        }
        .cm-e7y {
          margin-right: 28.2rem;
          display: flex;
          line-height: 1.2649999619;
          color: #000000;
          font-size: 2rem;
          font-weight: 400;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .cm-nEB {
          line-height: 1.2649999619;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          font-size: 2rem;
          font-weight: 400;
        }
      }
      .auto-group-zaat-XhZ {
        height: 2.6rem;
        position: absolute;
        left: 4.2rem;
        top: 50.6rem;
        display: flex;
        align-items: center;
        width: 72.3rem;

        .filling-material-rzj {
          font-weight: 400;
          line-height: 1.2649999619;
          color: #000000;
          flex-shrink: 0;
          margin-right: 17.8rem;
          display: flex;
          font-size: 2rem;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
        .foam-zr3 {
          margin-right: 28.6rem;
          display: flex;
          font-weight: 400;
          line-height: 1.2649999619;
          color: #000000;
          font-size: 2rem;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .matte-YMm {
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2649999619;
        }
      }
      .auto-group-w1wm-V27 {
        width: 84rem;
        height: 2.6rem;
        position: absolute;
        left: 4.2rem;
        top: 56.5rem;
        display: flex;
        align-items: center;

        .finish-type-ccX {
          margin-right: 21.1rem;
          display: flex;
          font-weight: 400;
          line-height: 1.2649999619;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          font-size: 2rem;
          white-space: nowrap;
          flex-shrink: 0;
        }
        .bright-grey-lion-xAb {
          font-size: 2rem;
          font-weight: 400;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 16.9rem;
          display: flex;
          line-height: 1.2649999619;
        }
        .bright-grey-lion-t4F {
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2649999619;
        }
      }
      .auto-group-c5rq-1uZ {
        display: flex;
        align-items: center;
        width: 70rem;
        height: 2.6rem;
        position: absolute;
        left: 4.2rem;
        top: 62.4rem;

        .adjustable-headrest-MCj {
          margin-right: 11.7rem;
          line-height: 1.2649999619;
          color: #000000;
          flex-shrink: 0;
          white-space: nowrap;
          display: flex;
          font-size: 2rem;
          font-weight: 400;
          font-family: Poppins, 'Source Sans Pro';
        }
        .no-H6P {
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2649999619;
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 31.7rem;
          display: flex;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
        }
        .yes-oqR {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2649999619;
          color: #000000;
        }
      }
      .auto-group-6k2b-XFd {
        left: 4.2rem;
        top: 68.3rem;
        display: flex;
        align-items: flex-start;
        width: 73.5rem;
        height: 5.1rem;
        position: absolute;

        .maximum-load-capacity-3jm {
          font-weight: 400;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          margin-right: 16.7rem;
          max-width: 15.4rem;
          display: flex;
          font-size: 2rem;
          line-height: 1.2649999619;
        }
        .kg-Zi7 {
          line-height: 1.2649999619;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-weight: 400;
          display: flex;
          font-size: 2rem;
          margin-right: 27.4rem;
        }
        .kg-Hu1 {
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2649999619;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
        }
      }
      .auto-group-ydrz-SG7 {
        top: 76.7rem;
        display: flex;
        align-items: center;
        width: 71.5rem;
        height: 2.6rem;
        position: absolute;
        left: 4.2rem;

        .origin-of-manufacture-ZrX {
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 10.3rem;
          display: flex;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2649999619;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
        }
        .india-u9h {
          line-height: 1.2649999619;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          margin-right: 29.4rem;
          display: flex;
          color: #000000;
          flex-shrink: 0;
          font-size: 2rem;
          font-weight: 400;
        }
        .india-q3M {
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2649999619;
        }
      }
      .auto-group-c6jk-xdm {
        width: 86.9rem;
        height: 12.7rem;
        position: absolute;
        left: 4.2rem;
        top: 151.75rem;
        display: flex;
        align-items: flex-start;

        .warranty-service-type-HR9 {
          max-width: 17.6rem;
          font-weight: 400;
          line-height: 1.2649999619;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0.05rem 14.5rem 0rem 0rem;
          display: flex;
          font-size: 2rem;
        }
        .for-warranty-claims-or-any-product-related-issues-please-email-at-operationstrevifurniturecom-BmR {
          line-height: 1.2649999619;
          font-family: Poppins, 'Source Sans Pro';
          color: #000000;
          flex-shrink: 0;
          margin-right: 7.8rem;
          max-width: 23.5rem;
          display: flex;
          font-size: 2rem;
          font-weight: 400;
        }
        .for-warranty-claims-or-any-product-related-issues-please-email-at-supportxyzcom-seF {
          margin-top: 0.5rem;
          font-weight: 400;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          max-width: 23.5rem;
          display: flex;
          font-size: 2rem;
          line-height: 1.2649999619;
          flex-shrink: 0;
        }
      }
      .auto-group-zyn3-mDq {
        position: absolute;
        left: 4.2rem;
        top: 14.5rem;
        display: flex;
        align-items: center;
        width: 77.7rem;
        height: 2.6rem;

        .secondary-material-Hhy {
          font-weight: 400;
          margin-right: 12.6rem;
          font-size: 2rem;
          line-height: 1.2649999619;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
        }
        .solid-wood-DrX {
          font-size: 2rem;
          font-weight: 400;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          margin-right: 23.2rem;
          line-height: 1.2649999619;
          white-space: nowrap;
          display: flex;
        }
        .solid-wood-xJK {
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2649999619;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
        }
      }
      .auto-group-33z1-Jd5 {
        left: 4.2rem;
        top: 106.9rem;
        display: flex;
        align-items: center;
        width: 76.1rem;
        height: 2.6rem;
        position: absolute;

        .depth-SDV {
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 26rem;
          display: flex;
          font-weight: 400;
          line-height: 1.2649999619;
          font-size: 2rem;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
        }
        .cm-Nsq {
          display: flex;
          line-height: 1.2649999619;
          flex-shrink: 0;
          white-space: nowrap;
          margin-right: 24.8rem;
          font-size: 2rem;
          font-weight: 400;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
        }
        .cm-v8f {
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2649999619;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
        }
      }
      .auto-group-anwq-fc3 {
        width: 87.5rem;
        height: 10.2rem;
        position: absolute;
        left: 4.2rem;
        top: 167.25rem;
        display: flex;
        align-items: flex-start;

        .covered-in-warranty-CM5 {
          font-size: 2rem;
          font-weight: 400;
          color: #000000;
          margin: 0.45rem 11.4rem 0rem 0rem;
          display: flex;
          line-height: 1.2649999619;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .warranty-against-manufacturing-defect-WMm {
          font-size: 2rem;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0.55rem 9.5rem 0rem 0rem;
          max-width: 21.8rem;
          display: flex;
          font-weight: 400;
          line-height: 1.2649999619;
          color: #000000;
        }
        .warranty-of-the-product-is-limited-to-manufacturing-defects-only-orf {
          line-height: 1.2649999619;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 24.1rem;
          display: flex;
          font-size: 2rem;
          font-weight: 400;
        }
      }
      .auto-group-5bvo-K4K {
        display: flex;
        align-items: center;
        width: 76.1rem;
        height: 2.6rem;
        position: absolute;
        left: 4.2rem;
        top: 20.4rem;

        .configuration-qoM {
          display: flex;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          margin-right: 18.3rem;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2649999619;
          flex-shrink: 0;
        }
        .l-shaped-aF9 {
          display: flex;
          font-weight: 400;
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 24.8rem;
          font-size: 2rem;
          line-height: 1.2649999619;
          font-family: Poppins, 'Source Sans Pro';
        }
        .l-shaped-Jwq {
          line-height: 1.2649999619;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          font-size: 2rem;
          font-weight: 400;
        }
      }
      .auto-group-svco-riT {
        top: 112.8rem;
        display: flex;
        align-items: center;
        width: 72.4rem;
        height: 2.6rem;
        position: absolute;
        left: 4.2rem;

        .weight-zJs {
          margin-right: 25rem;
          display: flex;
          font-size: 2rem;
          line-height: 1.2649999619;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          font-weight: 400;
          color: #000000;
          flex-shrink: 0;
        }
        .kg-jXM {
          margin-right: 28.5rem;
          font-size: 2rem;
          font-weight: 400;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          line-height: 1.2649999619;
          flex-shrink: 0;
        }
        .kg-UUw {
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2649999619;
        }
      }
      .auto-group-mqkt-DxK {
        display: flex;
        align-items: center;
        width: 82rem;
        height: 2.6rem;
        position: absolute;
        left: 4.2rem;
        top: 26.3rem;

        .upholstery-material-ZWP {
          font-size: 2rem;
          line-height: 1.2649999619;
          flex-shrink: 0;
          margin-right: 12.8rem;
          display: flex;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          font-weight: 400;
          color: #000000;
        }
        .fabric-cotton-hMh {
          display: flex;
          font-weight: 400;
          line-height: 1.2649999619;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          margin-right: 18.9rem;
          font-size: 2rem;
          white-space: nowrap;
        }
        .fabric-cotton-RoV {
          line-height: 1.2649999619;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          font-size: 2rem;
          font-weight: 400;
        }
      }
      .auto-group-bckx-ya7 {
        align-items: center;
        width: 75.1rem;
        height: 2.6rem;
        position: absolute;
        left: 4.2rem;
        top: 118.7rem;
        display: flex;

        .seat-height-i1u {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          margin-right: 20.5rem;
          display: flex;
          line-height: 1.2649999619;
          color: #000000;
          flex-shrink: 0;
          font-size: 2rem;
          font-weight: 400;
        }
        .cm-2oH {
          flex-shrink: 0;
          display: flex;
          font-size: 2rem;
          font-weight: 400;
          white-space: nowrap;
          margin-right: 25.8rem;
          line-height: 1.2649999619;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
        }
        .cm-NcF {
          display: flex;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2649999619;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .auto-group-gwlo-vNs {
        left: 4.2rem;
        top: 32.2rem;
        display: flex;
        align-items: center;
        width: 84rem;
        height: 2.6rem;
        position: absolute;

        .upholstery-color-4EB {
          margin-right: 15.5rem;
          display: flex;
          font-size: 2rem;
          font-family: Poppins, 'Source Sans Pro';
          font-weight: 400;
          line-height: 1.2649999619;
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
        }
        .bright-grey-lion-zNj {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          font-weight: 400;
          color: #000000;
          margin-right: 16.9rem;
          font-size: 2rem;
          line-height: 1.2649999619;
        }
        .bright-grey-lion-XNf {
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2649999619;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
        }
      }
      .auto-group-xk99-GLF {
        align-items: center;
        width: 74.6rem;
        height: 2.6rem;
        position: absolute;
        left: 4.2rem;
        top: 124.6rem;
        display: flex;

        .leg-height-bNX {
          display: flex;
          font-size: 2rem;
          font-weight: 400;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 21.6rem;
          line-height: 1.2649999619;
          color: #000000;
        }
        .cm-8NT {
          font-size: 2rem;
          line-height: 1.2649999619;
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 26.3rem;
          display: flex;
          font-weight: 400;
          font-family: Poppins, 'Source Sans Pro';
        }
        .cm-4mu {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2649999619;
          color: #000000;
        }
      }
      .group-167-DPu {
        flex-direction: column;
        width: 87rem;
        height: 36.05rem;
        position: absolute;
        left: 3.9rem;
        top: 182.1rem;
        align-items: flex-end;
        display: flex;

        .group-166-YSB {
          height: 24.4rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin-bottom: 5.25rem;
          width: 100%;

          .auto-group-2tgb-goH {
            box-sizing: border-box;
            padding: 0.1rem 6.5rem 0.1rem 0rem;
            height: 100%;
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;

            .auto-group-31fv-peb {
              margin: 0.1rem 12.8rem 0rem 0rem;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .not-covered-in-warranty-ACf {
                max-width: 14.8rem;
                font-size: 2rem;
                font-weight: 400;
                line-height: 1.2649999619;
                color: #000000;
                flex-shrink: 0;
                margin-bottom: 15.8rem;
                display: flex;
                font-family: Poppins, 'Source Sans Pro';
              }
              .domestic-warranty-sMy {
                line-height: 1.2649999619;
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                display: flex;
                font-size: 2rem;
                font-weight: 400;
              }
            }
            .auto-group-fksy-1j5 {
              flex-direction: column;
              flex-shrink: 0;
              display: flex;

              .the-warranty-does-not-cover-damages-due-to-usage-of-the-product-beyond-its-intended-use-and-wear-tear-in-the-natural-course-of-product-usage-yfu {
                margin-bottom: 3.2rem;
                max-width: 24.2rem;
                line-height: 1.2649999619;
                color: #000000;
                flex-shrink: 0;
                display: flex;
                font-size: 2rem;
                font-weight: 400;
                font-family: Poppins, 'Source Sans Pro';
              }
              .year-T5H {
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                display: flex;
                font-size: 2rem;
                font-weight: 400;
                line-height: 1.2649999619;
              }
            }
          }
          .auto-group-iwcf-CHm {
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .the-warranty-does-not-cover-damages-due-to-usage-of-the-product-beyond-its-intended-use-and-wear-tear-in-the-natural-course-of-product-usage-xGw {
              margin-bottom: 4rem;
              max-width: 24.2rem;
              display: flex;
              font-size: 2rem;
              font-weight: 400;
              color: #000000;
              line-height: 1.2649999619;
              font-family: Poppins, 'Source Sans Pro';
              flex-shrink: 0;
            }
            .months-EVM {
              font-family: Poppins, 'Source Sans Pro';
              margin-left: 0.4rem;
              display: flex;
              font-size: 2rem;
              font-weight: 400;
              line-height: 1.2649999619;
              color: #000000;
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
        .auto-group-f9np-Z1q {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 3.1rem 0rem 30.1rem;
          width: calc(100% - 33.2rem);
          height: 6.4rem;

          .group-21-UPh {
            font-family: Poppins, 'Source Sans Pro';
            background-color: #b88e2f;
            line-height: 1.5;
            white-space: nowrap;
            display: flex;
            justify-content: center;
            margin-right: 10.8rem;
            height: 100%;
            cursor: pointer;
            box-sizing: border-box;
            color: #ffffff;
            align-items: center;
            border: solid 0.1rem #b88e2f;
            flex-shrink: 0;
            width: 21.5rem;
            font-size: 2rem;
            font-weight: 400;
          }
          .group-165-w2P {
            box-sizing: border-box;
            background-color: #b88e2f;
            font-family: Poppins, 'Source Sans Pro';
            border: solid 0.1rem #b88e2f;
            align-items: center;
            font-weight: 400;
            line-height: 1.5;
            color: #ffffff;
            display: flex;
            flex-shrink: 0;
            cursor: pointer;
            font-size: 2rem;
            white-space: nowrap;
            justify-content: center;
            width: 21.5rem;
            height: 100%;
          }
        }
      }
    }
  }
  .frame-161-Cyu {
    width: 100%;
    height: 27rem;
    background-color: #faf3ea;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 10rem 5.3rem 8.5rem 5.3rem;

    .feature-98T {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: flex-start;

      .frame-5-h9y {
        align-items: center;
        flex-shrink: 0;
        margin-right: 5.4333rem;
        box-sizing: border-box;
        padding-left: 0.3614rem;
        height: 7rem;
        display: flex;

        .trophy-1-cnj {
          margin-right: 1.3614rem;
          width: 5.2772rem;
          height: 6rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .text-MVR {
          height: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .high-quality-7zP {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.2rem;
            font-size: 2.5rem;
            font-weight: 600;
            line-height: 1.5;
            color: #242424;
          }
          .crafted-from-top-materials-48w {
            color: #898989;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.5;
          }
        }
      }
      .frame-19-nKq {
        align-items: flex-start;
        flex-shrink: 0;
        height: 100%;
        display: flex;

        .guarantee-kGf {
          margin: 0.594rem 0.1rem 0rem 0rem;
          width: 6rem;
          height: 5.8125rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .auto-group-ufq9-UTZ {
          box-sizing: border-box;
          padding-left: 0.9rem;
          width: 26.7rem;
          height: 100%;
          flex-shrink: 0;

          .text-RNo {
            width: 100%;
            height: 7rem;
            display: flex;
            flex-direction: column;

            .warranty-protection-P4j {
              color: #242424;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.2rem;
              font-size: 2.5rem;
              font-weight: 600;
              line-height: 1.5;
            }
            .over-2-years-KDH {
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 500;
              line-height: 1.5;
              color: #898989;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
        }
      }
      .auto-group-6wyw-4As {
        align-items: flex-start;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-left: 5.5333rem;
        height: 100%;
        display: flex;

        .frame-2-o8T {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin-right: 5.5333rem;
          height: 7rem;

          .shipping-8wR {
            margin: 0rem 1rem 0rem 0rem;
            width: 6rem;
            height: 5.5971rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .text-GXq {
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .free-shipping-EUf {
              font-size: 2.5rem;
              font-weight: 600;
              line-height: 1.5;
              color: #242424;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.2rem;
            }
            .order-over-150--NKy {
              font-size: 2rem;
              font-weight: 500;
              line-height: 1.5;
              color: #898989;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
        .frame-4-72f {
          flex-shrink: 0;
          box-sizing: border-box;
          padding-left: 0.3529rem;
          height: 7rem;
          display: flex;
          align-items: center;

          .customer-support-f4B {
            width: 5.2941rem;
            height: 6rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.353rem;
          }
          .text-CZu {
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .support-ZvF {
              color: #242424;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.2rem;
              font-size: 2.5rem;
              font-weight: 600;
              line-height: 1.5;
            }
            .dedicated-support-Wab {
              font-size: 2rem;
              font-weight: 500;
              line-height: 1.5;
              color: #898989;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
      }
    }
  }
  .footer-F2P {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 4.8rem 9.999rem 3.8rem 10rem;
    width: 100%;
    height: 50.5rem;
    border: solid 0.1rem rgba(0, 0, 0, 0.1700000018);
    background-color: #ffffff;

    .group-45-nHD {
      flex-direction: column;
      width: 100%;
      height: 100%;
      display: flex;

      .group-32-LZd {
        flex-shrink: 0;
        margin: 0rem 10.7rem 4.8rem 0rem;
        width: calc(100% - 10.7004rem);
        height: 31.2rem;
        display: flex;
        align-items: flex-start;

        .auto-group-co4b-Fgb {
          margin-right: 13.6rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .funiro-QZV {
            flex-shrink: 0;
            margin-bottom: 5rem;
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
          .university-drive-suite-200-coral-gables-fl-33134-usa-wpK {
            flex-shrink: 0;
            margin-left: 0.2008rem;
            max-width: 28.5rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #9f9f9f;
            font-family: Poppins, 'Source Sans Pro';
          }
        }
        .group-31-Fa7 {
          flex-shrink: 0;
          height: 100%;
          display: flex;
          align-items: flex-start;

          .group-28-pNK {
            margin-right: 7.2rem;
            height: 100%;
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;

            .group-26-n4F {
              margin-right: 14.4rem;
              height: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .links-jkB {
                font-weight: 500;
                line-height: 1.5;
                color: #9f9f9f;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 5.5rem;
                font-size: 1.6rem;
              }
              .group-24-t7H {
                margin-left: 0.2rem;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .home-daf {
                  margin-bottom: 4.6rem;
                  font-size: 1.6rem;
                  font-weight: 500;
                  line-height: 1.5;
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
                .shop-yPd {
                  margin-bottom: 4.6rem;
                  font-size: 1.6rem;
                  font-weight: 500;
                  line-height: 1.5;
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
                .about-KTV {
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 4.5rem;
                  font-size: 1.6rem;
                  font-weight: 500;
                  line-height: 1.5;
                }
                .contact-GNj {
                  font-size: 1.6rem;
                  font-weight: 500;
                  line-height: 1.5;
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
            }
            .group-27-nM5 {
              width: 14rem;
              flex-shrink: 0;

              .help-ikX {
                line-height: 1.5;
                color: #9f9f9f;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                margin-bottom: 5.5rem;
                font-size: 1.6rem;
                font-weight: 500;
              }
              .group-25-Bu1 {
                width: 100%;
                display: flex;
                flex-direction: column;

                .payment-options-KkK {
                  margin-bottom: 4.6rem;
                  font-size: 1.6rem;
                  font-weight: 500;
                  line-height: 1.5;
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
                .returns-dFD {
                  line-height: 1.5;
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 4.5rem;
                  font-size: 1.6rem;
                  font-weight: 500;
                }
                .privacy-policies-P7u {
                  flex-shrink: 0;
                  font-size: 1.6rem;
                  font-weight: 500;
                  line-height: 1.5;
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                }
              }
            }
          }
          .group-30-fLK {
            margin-top: 0.2rem;
            width: 28.6003rem;
            flex-shrink: 0;

            .newsletter-ztP {
              line-height: 1.5;
              color: #9f9f9f;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 5.3rem;
              font-size: 1.6rem;
              font-weight: 500;
            }
            .group-29-8zb {
              width: 100%;
              align-items: center;
              display: flex;
              flex-direction: column;

              .auto-group-3hdz-h27 {
                margin: 0rem 0rem 0.3rem 0rem;
                width: calc(100% - 0.0003rem);
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .enter-your-email-address-1Yb {
                  flex-shrink: 0;
                  margin-right: 3.8rem;
                  font-size: 1.4rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #9f9f9f;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                }
                .subscribe-Y2j {
                  line-height: 1.5;
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.4rem;
                  font-weight: 500;
                }
              }
              .auto-group-zqqb-4mm {
                width: 100%;
                height: 0.1rem;
                border-top: solid 0.1rem #000000;
                box-sizing: border-box;
                flex-shrink: 0;
              }
            }
          }
        }
      }
      .group-44-y83 {
        border-top: solid 0.1rem #d9d9d9;
        padding: 3.5rem 0.201rem 0rem 0.201rem;
        width: calc(100% - 0rem);
        font-weight: 400;
        white-space: nowrap;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        margin-left: 0rem;
        box-sizing: border-box;
        font-size: 1.6rem;
        line-height: 1.5;
      }
    }
  }
}
