
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.blog--UUo {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .header-zxw {
    box-sizing: border-box;
    padding: 2.9rem 10rem 2.9rem 5.4rem;
    width: 100%;
    height: 10rem;
    background-color: #ffffff;
    flex-shrink: 0;

    .group-168-7nf {
      width: 100%;
      height: 100%;
      position: relative;

      .group-2-smq {
        left: 45.1rem;
        top: 0.9rem;
        display: flex;
        column-gap: 7.5rem;
        align-items: center;
        width: 43rem;
        height: 2.4rem;
        position: absolute;

        .home-PkB {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
        }
        .shop-Kdq {
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.5;
        }
        .about-UFq {
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.5;
        }
        .contact-RRy {
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.5;
        }
      }
      .group-1-MaX {
        position: absolute;
        left: 0;
        padding-right: 0.1796rem;
        width: 128.6rem;
        height: 4.2rem;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        cursor: pointer;
        top: 0;

        .frame-168-sYs {
          margin-right: 85.6333rem;
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .meubel-houselogos-05-RKV {
            background-position: -1.3rem -2.2rem;
            background-image: url('REPLACE_IMAGE:2727769ba74736d502746301ed573ed8940fc322');
            flex-shrink: 0;
            margin: 0rem 0.5rem 0.1rem 0rem;
            width: 5rem;
            height: 3.2rem;
            background-size: 154% 240.625%;

            .meubel-houselogos-05-RKV-bg {
              width: 5rem;
              height: 3.2rem;
              position: relative;
              background-image: url('REPLACE_IMAGE:2727769ba74736d502746301ed573ed8940fc322');
            }
          }
          .skinclinic-Enj {
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 3.4rem;
            font-weight: 700;
            line-height: 1.2175;
            color: #000000;
          }
        }
        .mdi-account-alert-outline-mXm {
          flex-shrink: 0;
          margin: 0rem 4.967rem 0rem 0rem;
          width: 2.3333rem;
          height: 1.8667rem;
          object-fit: contain;
          vertical-align: top;
        }
        .akar-icons-search-Uh5 {
          width: 2.2167rem;
          height: 2.2167rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 5.083rem 0.117rem 0rem;
        }
        .akar-icons-heart-oDZ {
          margin: 0rem 4.901rem 0.019rem 0rem;
          width: 2.3333rem;
          height: 2.0806rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .ant-design-shopping-cart-outlined-v3H {
          margin-top: 0.1168rem;
          width: 2.453rem;
          height: 2.2058rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
  }
  .group-78-2MD {
    background-repeat: no-repeat;
    background-image: url('REPLACE_IMAGE:1461f3d6ff74c027a1888544144abe4be6e02cbf');
    flex-shrink: 0;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    filter: blur(0.3rem);
    background-size: 100% 100%;
    background-position: center;
    box-sizing: border-box;
    padding: 6.1rem 66.5rem 9.7rem 66rem;

    .group-55-Z6F {
      margin: 0rem 0rem 0.1rem 0.6rem;
      width: 10.7rem;
      height: 13.3rem;
      position: relative;
      flex-shrink: 0;

      .blog-VEo {
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        width: 10.7rem;
        position: absolute;
        left: 0;
        font-weight: 500;
        color: #000000;
        white-space: nowrap;
        height: 7.2rem;
        top: 6.1rem;
        font-size: 4.8rem;
      }
      .meubel-houselogos-05-Q6s {
        width: 7.7rem;
        height: 7.7rem;
        position: absolute;
        left: 1.5rem;
        top: 0;
        object-fit: cover;
        vertical-align: top;
      }
    }
    .group-56-vb1 {
      width: 100%;
      display: flex;
      column-gap: 1.2rem;
      align-items: center;
      flex-shrink: 0;

      .home-sWF {
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
      .dashicons-arrow-down-alt2-28F {
        flex-shrink: 0;
        width: 0.8rem;
        height: 1.4rem;
        object-fit: contain;
        vertical-align: top;
      }
      .blog-xGo {
        font-weight: 300;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
      }
    }
  }
  .group-185-Fmh {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    background-color: #ffffff;
    margin-bottom: 5.8rem;
    padding: 8.4rem 10rem 0rem 9.7rem;
    align-items: center;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-xzjh-yhh {
      margin-bottom: 5.3rem;
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .group-176-XDR {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 2.2rem 3rem 0rem 0rem;
        width: 82rem;
        row-gap: 5.3rem;

        .group-173-Edd {
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .rectangle-68-z71 {
            background-image: url('REPLACE_IMAGE:56f76fe241417cd682c30a19eecaf20a549cee89');
            margin: 0rem 0rem 1.7rem 0.3rem;
            width: 81.7rem;
            background-color: #ffffff;
            background-repeat: no-repeat;
            background-position: center;
            height: 50rem;
            background-size: 100% 100%;
            border-radius: 1rem;
            flex-shrink: 0;
          }
          .group-172-4sZ {
            height: 2.4rem;
            display: flex;
            column-gap: 3.5rem;
            align-items: center;
            flex-shrink: 0;
            margin-bottom: 1.5rem;

            .group-169-1Xu {
              display: flex;
              align-items: center;
              flex-shrink: 0;
              box-sizing: border-box;
              padding-left: 0.276rem;
              height: 100%;

              .dashicons-admin-users-Mbm {
                margin: 0.015rem 0.976rem 0rem 0rem;
                width: 1.448rem;
                height: 1.615rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .admin-Gij {
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                color: #9f9f9f;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
            .group-168-1RR {
              height: 100%;
              display: flex;
              align-items: flex-start;
              flex-shrink: 0;
              box-sizing: border-box;
              padding-left: 0.1667rem;

              .uis-calender-AZD {
                width: 1.6667rem;
                height: 1.6667rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin: 0.167rem 1.267rem 0rem 0rem;
              }
              .oct-2022-h3M {
                font-weight: 400;
                line-height: 1.5;
                color: #9f9f9f;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.6rem;
              }
            }
            .group-167-Rzw {
              box-sizing: border-box;
              padding-left: 0.306rem;
              height: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .ci-tag-nqV {
                margin: 0.103rem 0.903rem 0rem 0rem;
                width: 1.8909rem;
                height: 1.8906rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .wood-KaX {
                flex-shrink: 0;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                color: #9f9f9f;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
          }
          .going-all-in-with-millennial-design-Tgj {
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 0rem 1.2rem 0.3rem;
            font-size: 3rem;
            font-weight: 500;
          }
          .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-mus-mauris-vitae-ultricies-leo-integer-malesuada-nunc-in-nulla-posuere-sollicitudin-aliquam-ultrices-morbi-blandit-cursus-risus-at-ultrices-mi-tempus-imperdiet-libero-enim-sed-faucibus-turpis-in-cursus-mattis-molestie-a-iaculis-at-erat-nibh-cras-pulvinar-mattis-nunc-sed-blandit-libero-pellentesque-elit-ullamcorper-dignissim-cras-tincidunt-pharetra-et-ultrices-neque-ornare-aenean-euismod-elementum-aFZ {
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.5;
            color: #9f9f9f;
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
            margin: 0rem 0rem 3.2rem 0.3rem;
            max-width: 81.7rem;
          }
          .group-170-5Lj {
            font-size: 1.6rem;
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            box-sizing: border-box;
            flex-shrink: 0;
            margin-right: 72.5rem;
            height: 3.7rem;
            font-weight: 400;
            white-space: nowrap;
            border-bottom: solid 0.1rem #000000;
          }
        }
        .group-174-ANB {
          flex-shrink: 0;
          width: 100%;
          display: flex;
          flex-direction: column;

          .rectangle-68-Wwq {
            background-size: 100% 100%;
            background-repeat: no-repeat;
            border-radius: 1rem;
            flex-shrink: 0;
            margin: 0rem 0rem 1.7rem 0.3rem;
            height: 50rem;
            background-position: center;
            background-image: url('REPLACE_IMAGE:d248030196ed5dc3b3d01cf6cd369ef7aff2f296');
            width: 81.7rem;
            background-color: #ffffff;
          }
          .group-172-cV5 {
            margin-bottom: 1.5rem;
            height: 2.4rem;
            display: flex;
            column-gap: 3.5rem;
            align-items: center;
            flex-shrink: 0;

            .group-169-YtX {
              align-items: center;
              flex-shrink: 0;
              box-sizing: border-box;
              padding-left: 0.276rem;
              height: 100%;
              display: flex;

              .dashicons-admin-users-7Aw {
                margin: 0.015rem 0.976rem 0rem 0rem;
                width: 1.448rem;
                height: 1.615rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .admin-qMq {
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                color: #9f9f9f;
              }
            }
            .group-168-mWP {
              align-items: flex-start;
              flex-shrink: 0;
              box-sizing: border-box;
              padding-left: 0.1667rem;
              height: 100%;
              display: flex;

              .uis-calender-Wis {
                margin: 0.167rem 1.267rem 0rem 0rem;
                width: 1.6667rem;
                height: 1.6667rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .oct-2022-e4P {
                line-height: 1.5;
                color: #9f9f9f;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.6rem;
                font-weight: 400;
              }
            }
            .group-167-aij {
              box-sizing: border-box;
              padding-left: 0.306rem;
              height: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .ci-tag-7Cs {
                margin: 0.103rem 0.903rem 0rem 0rem;
                width: 1.8909rem;
                height: 1.8906rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .handmade-dS7 {
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                color: #9f9f9f;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
          }
          .exploring-new-ways-of-decorating-ZqZ {
            margin: 0rem 0rem 1.2rem 0.3rem;
            font-size: 3rem;
            font-weight: 500;
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-mus-mauris-vitae-ultricies-leo-integer-malesuada-nunc-in-nulla-posuere-sollicitudin-aliquam-ultrices-morbi-blandit-cursus-risus-at-ultrices-mi-tempus-imperdiet-libero-enim-sed-faucibus-turpis-in-cursus-mattis-molestie-a-iaculis-at-erat-nibh-cras-pulvinar-mattis-nunc-sed-blandit-libero-pellentesque-elit-ullamcorper-dignissim-cras-tincidunt-pharetra-et-ultrices-neque-ornare-aenean-euismod-elementum-srF {
            margin: 0rem 0rem 3.2rem 0.3rem;
            max-width: 81.7rem;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.5;
            color: #9f9f9f;
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
          }
          .group-170-BkT {
            height: 3.7rem;
            font-size: 1.6rem;
            line-height: 1.5;
            font-family: Poppins, 'Source Sans Pro';
            border-bottom: solid 0.1rem #000000;
            box-sizing: border-box;
            margin-right: 72.5rem;
            font-weight: 400;
            color: #000000;
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .group-175-VFM {
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .rectangle-68-qq1 {
            height: 50rem;
            flex-shrink: 0;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('REPLACE_IMAGE:8dee6dec4190307dc6c7273c0bbf5086605997e4');
            border-radius: 1rem;
            margin: 0rem 0rem 1.7rem 0.3rem;
            width: 81.7rem;
            background-color: #ffffff;
            background-size: 100% 100%;
          }
          .group-172-8p7 {
            align-items: center;
            flex-shrink: 0;
            margin-bottom: 1.5rem;
            height: 2.4rem;
            display: flex;
            column-gap: 3.5rem;

            .group-169-GvK {
              box-sizing: border-box;
              padding-left: 0.276rem;
              height: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .dashicons-admin-users-pwq {
                vertical-align: top;
                flex-shrink: 0;
                margin: 0.015rem 0.976rem 0rem 0rem;
                width: 1.448rem;
                height: 1.615rem;
                object-fit: contain;
              }
              .admin-xHM {
                font-weight: 400;
                line-height: 1.5;
                color: #9f9f9f;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.6rem;
              }
            }
            .group-168-6uM {
              height: 100%;
              display: flex;
              align-items: flex-start;
              flex-shrink: 0;
              box-sizing: border-box;
              padding-left: 0.1667rem;

              .uis-calender-rdd {
                flex-shrink: 0;
                margin: 0.167rem 1.267rem 0rem 0rem;
                width: 1.6667rem;
                height: 1.6667rem;
                object-fit: contain;
                vertical-align: top;
              }
              .oct-2022-BR1 {
                flex-shrink: 0;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                color: #9f9f9f;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
            .group-167-v7h {
              align-items: center;
              flex-shrink: 0;
              box-sizing: border-box;
              padding-left: 0.306rem;
              height: 100%;
              display: flex;

              .ci-tag-4zb {
                margin: 0.103rem 0.903rem 0rem 0rem;
                width: 1.8909rem;
                height: 1.8906rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .wood-bjd {
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                color: #9f9f9f;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
          }
          .handmade-pieces-that-took-time-to-make-Lx7 {
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 0rem 1.2rem 0.3rem;
            font-size: 3rem;
            font-weight: 500;
            line-height: 1.5;
          }
          .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-mus-mauris-vitae-ultricies-leo-integer-malesuada-nunc-in-nulla-posuere-sollicitudin-aliquam-ultrices-morbi-blandit-cursus-risus-at-ultrices-mi-tempus-imperdiet-libero-enim-sed-faucibus-turpis-in-cursus-mattis-molestie-a-iaculis-at-erat-nibh-cras-pulvinar-mattis-nunc-sed-blandit-libero-pellentesque-elit-ullamcorper-dignissim-cras-tincidunt-pharetra-et-ultrices-neque-ornare-aenean-euismod-elementum-4dD {
            max-width: 81.7rem;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.5;
            color: #9f9f9f;
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
            margin: 0rem 0rem 3.2rem 0.3rem;
          }
          .group-170-mvw {
            font-size: 1.6rem;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            border-bottom: solid 0.1rem #000000;
            box-sizing: border-box;
            flex-shrink: 0;
            height: 3.7rem;
            font-weight: 400;
            line-height: 1.5;
            color: #000000;
            margin-right: 72.5rem;
          }
        }
      }
      .auto-group-dvcw-Tom {
        width: 39.3rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .group-171-osd {
          width: 100%;
          flex-direction: column;
          background-color: #ffffff;
          margin-bottom: 4.1rem;
          box-sizing: border-box;
          display: flex;
          flex-shrink: 0;
          padding: 2.2rem 4.1rem 6.1rem 4.1rem;
          align-items: center;

          .group-164-Xod {
            flex-shrink: 0;
            margin-bottom: 4.3rem;
            box-sizing: border-box;
            padding: 1.9rem 1.3rem 2rem 27.9rem;
            width: 100%;
            border: solid 0.1rem #9f9f9f;
            background-color: #ffffff;
            border-radius: 1rem;

            .akar-icons-search-sMh {
              width: 1.9rem;
              height: 1.9rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .group-163-NpF {
            width: calc(100% - 6rem);
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin: 0rem 2.4rem 0rem 3.6rem;

            .auto-group-j4fh-hbd {
              box-sizing: border-box;
              padding-bottom: 4.1rem;
              width: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .categories-3Qb {
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 3.3rem;
                font-size: 2.4rem;
                font-weight: 500;
                line-height: 1.5;
              }
              .auto-group-sxpx-y3M {
                flex-shrink: 0;
                margin-right: 0.1rem;
                width: calc(100% - 0.1rem);
                display: flex;
                align-items: center;

                .crafts-uhh {
                  font-weight: 400;
                  line-height: 1.5;
                  color: #9f9f9f;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-right: 19.1rem;
                  font-size: 1.6rem;
                }
                .item-2-FFm {
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #9f9f9f;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
            }
            .auto-group-uj7h-aYw {
              flex-shrink: 0;
              width: 100%;
              display: flex;
              align-items: center;

              .design-LY7 {
                margin-right: 18.5rem;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                color: #9f9f9f;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .item-8-5Vh {
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                color: #9f9f9f;
                font-family: Poppins, 'Source Sans Pro';
              }
            }
            .auto-group-cyt3-2Qw {
              box-sizing: border-box;
              padding: 4.1rem 0;
              width: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .auto-group-mdvf-y5H {
                margin: 0rem 0.2rem 4.1rem 0rem;
                width: calc(100% - 0.2rem);
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .handmade-6vb {
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #9f9f9f;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-right: 14.9rem;
                }
                .item-7-FHh {
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #9f9f9f;
                  font-family: Poppins, 'Source Sans Pro';
                }
              }
              .auto-group-xnhm-PPu {
                flex-shrink: 0;
                margin-right: 0.5rem;
                width: calc(100% - 0.5rem);
                display: flex;
                align-items: center;

                .interior-jyZ {
                  font-weight: 400;
                  line-height: 1.5;
                  color: #9f9f9f;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-right: 18.3rem;
                  font-size: 1.6rem;
                }
                .item-1-Uw9 {
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #9f9f9f;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
            }
            .auto-group-mvum-R5h {
              width: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .wood-B4s {
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                color: #9f9f9f;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 19.3rem;
              }
              .item-6-XPd {
                flex-shrink: 0;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                color: #9f9f9f;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
          }
        }
        .group-184-FaX {
          width: 100%;
          height: 65rem;
          background-color: #ffffff;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.6rem 6.5rem 1.6rem 7.6rem;

          .group-183-ash {
            flex-direction: column;
            border-radius: 1rem;
            width: 100%;
            height: 100%;
            align-items: center;
            display: flex;

            .auto-group-geco-8eK {
              box-sizing: border-box;
              padding-bottom: 3.9rem;
              width: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .recent-posts-H1R {
                font-size: 2.4rem;
                font-weight: 500;
                line-height: 1.5;
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 0rem 2.6rem 0.1rem;
              }
              .group-178-oVZ {
                height: 8rem;
                display: flex;
                align-items: center;
                border-radius: 1rem;
                flex-shrink: 0;
                margin: 0rem 4.1rem 3.9rem 0rem;
                width: calc(100% - 4.1rem);

                .rectangle-69-8Xq {
                  background-image: url('REPLACE_IMAGE:2e2c01ab8b94b8e3a17bbb18c564006d557e73b1');
                  margin-right: 1.2rem;
                  width: 8rem;
                  height: 8rem;
                  background-color: #d9d9d9;
                  background-repeat: no-repeat;
                  background-position: center;
                  background-size: 100% 100%;
                  border-radius: 1rem;
                  flex-shrink: 0;
                }
                .group-177-SoR {
                  margin: 0.8rem 0rem 0.7rem 0rem;
                  height: calc(100% - 1.5rem);
                  display: flex;
                  flex-direction: column;
                  flex-shrink: 0;

                  .going-all-in-with-millennial-design-yYT {
                    font-size: 1.4rem;
                    font-weight: 400;
                    line-height: 1.5;
                    color: #000000;
                    font-family: Poppins, 'Source Sans Pro';
                    flex-shrink: 0;
                    margin-bottom: 0.5rem;
                    max-width: 11.9rem;
                  }
                  .aug-2022-tQX {
                    font-size: 1.2rem;
                    font-weight: 400;
                    line-height: 1.5;
                    color: #9f9f9f;
                    font-family: Poppins, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                  }
                }
              }
              .group-179-zTZ {
                display: flex;
                margin-right: 1.1rem;
                width: calc(100% - 1.1rem);
                height: 8rem;
                border-radius: 1rem;
                flex-shrink: 0;
                box-sizing: border-box;
                padding-right: 1.3rem;
                align-items: center;

                .rectangle-69-i8f {
                  border-radius: 1rem;
                  flex-shrink: 0;
                  width: 8rem;
                  background-color: #d9d9d9;
                  background-size: 100% 100%;
                  background-repeat: no-repeat;
                  background-position: center;
                  background-image: url('REPLACE_IMAGE:37528005309ac985861a262b8622e7528e08049f');
                  margin-right: 1.2rem;
                  height: 8rem;
                }
                .group-177-D5R {
                  height: calc(100% - 1.5rem);
                  display: flex;
                  flex-direction: column;
                  flex-shrink: 0;
                  margin: 0.8rem 0rem 0.7rem 0rem;

                  .exploring-new-ways-of-decorating-jpT {
                    font-weight: 400;
                    line-height: 1.5;
                    color: #000000;
                    font-family: Poppins, 'Source Sans Pro';
                    flex-shrink: 0;
                    margin-bottom: 0.5rem;
                    max-width: 13.6rem;
                    font-size: 1.4rem;
                  }
                  .aug-2022-4Lw {
                    flex-shrink: 0;
                    font-size: 1.2rem;
                    font-weight: 400;
                    line-height: 1.5;
                    color: #9f9f9f;
                    font-family: Poppins, 'Source Sans Pro';
                    white-space: nowrap;
                  }
                }
              }
            }
            .group-180-aaB {
              border-radius: 1rem;
              flex-shrink: 0;
              width: 100%;
              height: 8rem;
              display: flex;
              align-items: center;

              .rectangle-69-YG7 {
                background-color: #d9d9d9;
                background-size: 100% 100%;
                background-repeat: no-repeat;
                background-image: url('REPLACE_IMAGE:0b5e85006615f4968338e0a7004a86529ecf85c9');
                border-radius: 1rem;
                flex-shrink: 0;
                margin-right: 1.2rem;
                height: 8rem;
                background-position: center;
                width: 8rem;
              }
              .group-177-T8B {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                margin: 0.8rem 0rem 0.7rem 0rem;
                height: calc(100% - 1.5rem);

                .handmade-pieces-that-took-time-to-make-ngF {
                  flex-shrink: 0;
                  margin-bottom: 0.5rem;
                  max-width: 16rem;
                  font-size: 1.4rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                }
                .aug-2022-Jeb {
                  color: #9f9f9f;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                  font-weight: 400;
                  line-height: 1.5;
                }
              }
            }
            .auto-group-khlb-q8j {
              box-sizing: border-box;
              padding-top: 3.9rem;
              width: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .group-181-PAF {
                margin: 0rem 4.1rem 3.9rem 0rem;
                box-sizing: border-box;
                height: 8rem;
                border-radius: 1rem;
                padding-right: 0.1rem;
                width: calc(100% - 4.1rem);
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .rectangle-69-ueP {
                  width: 8rem;
                  height: 8rem;
                  background-color: #d9d9d9;
                  background-repeat: no-repeat;
                  background-position: center;
                  background-image: url('REPLACE_IMAGE:90564e0fcfbc72a9932875eeb20db551bb01abb3');
                  margin-right: 1.2rem;
                  border-radius: 1rem;
                  flex-shrink: 0;
                  background-size: 100% 100%;
                }
                .group-177-e6B {
                  flex-shrink: 0;
                  margin: 0.8rem 0rem 0.7rem 0rem;
                  height: calc(100% - 1.5rem);
                  display: flex;
                  flex-direction: column;

                  .modern-home-in-milan-Bbu {
                    color: #000000;
                    font-family: Poppins, 'Source Sans Pro';
                    flex-shrink: 0;
                    margin-bottom: 0.5rem;
                    max-width: 11.8rem;
                    font-size: 1.4rem;
                    font-weight: 400;
                    line-height: 1.5;
                  }
                  .aug-2022-JwR {
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-size: 1.2rem;
                    font-weight: 400;
                    line-height: 1.5;
                    color: #9f9f9f;
                    font-family: Poppins, 'Source Sans Pro';
                  }
                }
              }
              .group-182-eEb {
                margin-right: 4.1rem;
                box-sizing: border-box;
                padding-right: 2.2rem;
                width: calc(100% - 4.1rem);
                border-radius: 1rem;
                height: 8rem;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .rectangle-69-n5u {
                  width: 8rem;
                  background-color: #d9d9d9;
                  border-radius: 1rem;
                  flex-shrink: 0;
                  background-position: center;
                  background-image: url('REPLACE_IMAGE:455ff3a57de5c930d1538360f43cbfa1d7f00337');
                  margin-right: 1.2rem;
                  height: 8rem;
                  background-size: 100% 100%;
                  background-repeat: no-repeat;
                }
                .group-177-hyZ {
                  margin: 0.8rem 0rem 0.7rem 0rem;
                  height: calc(100% - 1.5rem);
                  display: flex;
                  flex-direction: column;
                  flex-shrink: 0;

                  .colorful-office-redesign-rLf {
                    flex-shrink: 0;
                    margin-bottom: 0.5rem;
                    max-width: 9.7rem;
                    font-size: 1.4rem;
                    font-weight: 400;
                    line-height: 1.5;
                    color: #000000;
                    font-family: Poppins, 'Source Sans Pro';
                  }
                  .aug-2022-P5h {
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-size: 1.2rem;
                    font-weight: 400;
                    line-height: 1.5;
                    color: #9f9f9f;
                    font-family: Poppins, 'Source Sans Pro';
                  }
                }
              }
            }
          }
        }
      }
    }
    .group-72-UN3 {
      column-gap: 3.8rem;
      align-items: center;
      border-radius: 1rem;
      flex-shrink: 0;
      margin: 0rem 42.4rem 0rem 42.7rem;
      width: calc(100% - 85.1rem);
      height: 6rem;
      display: flex;

      .group-68-z5V {
        height: 100%;
        font-size: 2rem;
        font-family: Poppins, 'Source Sans Pro';
        align-items: center;
        background-color: #b88e2f;
        border-radius: 1rem;
        flex-shrink: 0;
        width: 6rem;
        font-weight: 400;
        white-space: nowrap;
        justify-content: center;
        line-height: 1.5;
        color: #ffffff;
        display: flex;
      }
      .group-69-suy {
        white-space: nowrap;
        justify-content: center;
        background-color: #f9f1e7;
        flex-shrink: 0;
        height: 100%;
        font-weight: 400;
        line-height: 1.5;
        color: #000000;
        width: 6rem;
        font-family: Poppins, 'Source Sans Pro';
        align-items: center;
        border-radius: 1rem;
        font-size: 2rem;
        display: flex;
      }
      .group-70-aZV {
        justify-content: center;
        background-color: #f9f1e7;
        font-weight: 400;
        white-space: nowrap;
        flex-shrink: 0;
        font-family: Poppins, 'Source Sans Pro';
        display: flex;
        align-items: center;
        height: 100%;
        font-size: 2rem;
        color: #000000;
        width: 6rem;
        line-height: 1.5;
        border-radius: 1rem;
      }
      .group-71-tKH {
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        align-items: center;
        font-size: 2rem;
        justify-content: center;
        font-weight: 300;
        color: #000000;
        white-space: nowrap;
        background-color: #f9f1e7;
        border-radius: 1rem;
        flex-shrink: 0;
        height: 100%;
        display: flex;
        width: 9.8rem;
      }
    }
  }
  .frame-161-k6b {
    box-sizing: border-box;
    padding: 10rem 5.3rem 8.5rem 5.3rem;
    width: 100%;
    height: 27rem;
    background-color: #faf3ea;
    flex-shrink: 0;
    margin-bottom: 2.2rem;

    .feature-58s {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: flex-start;

      .frame-5-pMM {
        height: 7rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin-right: 5.4333rem;
        box-sizing: border-box;
        padding-left: 0.3614rem;

        .trophy-1-xTZ {
          margin-right: 1.3614rem;
          width: 5.2772rem;
          height: 6rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .text-hR9 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          height: 100%;

          .high-quality-f75 {
            line-height: 1.5;
            color: #242424;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.2rem;
            font-size: 2.5rem;
            font-weight: 600;
          }
          .crafted-from-top-materials-Pom {
            color: #898989;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.5;
          }
        }
      }
      .frame-19-KhR {
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;
        height: 100%;

        .guarantee-UqD {
          width: 6rem;
          height: 5.8125rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.594rem 0.1rem 0rem 0rem;
        }
        .auto-group-ha47-1aF {
          box-sizing: border-box;
          padding-left: 0.9rem;
          width: 26.7rem;
          height: 100%;
          flex-shrink: 0;

          .text-ACF {
            width: 100%;
            height: 7rem;
            display: flex;
            flex-direction: column;

            .warranty-protection-ijZ {
              line-height: 1.5;
              color: #242424;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.2rem;
              font-size: 2.5rem;
              font-weight: 600;
            }
            .over-2-years-qpB {
              line-height: 1.5;
              color: #898989;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 500;
            }
          }
        }
      }
      .auto-group-ommz-yvP {
        flex-shrink: 0;
        box-sizing: border-box;
        padding-left: 5.5334rem;
        height: 100%;
        display: flex;
        align-items: flex-start;

        .frame-2-LF9 {
          margin-right: 5.5333rem;
          height: 7rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .shipping-Us9 {
            width: 6rem;
            height: 5.5971rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 1rem 0rem 0rem;
          }
          .text-cTZ {
            flex-direction: column;
            flex-shrink: 0;
            height: 100%;
            display: flex;

            .free-shipping-mrF {
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.2rem;
              font-size: 2.5rem;
              font-weight: 600;
              line-height: 1.5;
              color: #242424;
              font-family: Poppins, 'Source Sans Pro';
            }
            .order-over-150--JbH {
              font-weight: 500;
              line-height: 1.5;
              color: #898989;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
            }
          }
        }
        .frame-4-qbD {
          padding-left: 0.3529rem;
          height: 7rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          box-sizing: border-box;

          .customer-support-b4b {
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.353rem;
            width: 5.2941rem;
            height: 6rem;
            object-fit: contain;
          }
          .text-ckP {
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .support-BHh {
              font-weight: 600;
              line-height: 1.5;
              color: #242424;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.2rem;
              font-size: 2.5rem;
            }
            .dedicated-support-KPu {
              line-height: 1.5;
              color: #898989;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
  .footer-351 {
    box-sizing: border-box;
    padding: 4.8rem 9.999rem 3.8rem 10rem;
    width: 100%;
    height: 50.5rem;
    border: solid 0.1rem rgba(0, 0, 0, 0.1700000018);
    background-color: #ffffff;
    flex-shrink: 0;

    .group-45-yDZ {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;

      .group-32-vuV {
        margin: 0rem 10.7rem 4.8rem 0rem;
        width: calc(100% - 10.7003rem);
        height: 31.2rem;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .auto-group-qhnw-rYF {
          margin-right: 13.6rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .funiro-cGX {
            font-weight: 700;
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 5rem;
            font-size: 2.4rem;
          }
          .university-drive-suite-200-coral-gables-fl-33134-usa-9XM {
            color: #9f9f9f;
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
            margin-left: 0.2008rem;
            max-width: 28.5rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
          }
        }
        .group-31-F4b {
          height: 100%;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .group-28-cA3 {
            margin-right: 7.2rem;
            height: 100%;
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;

            .group-26-xUo {
              margin-right: 14.4rem;
              height: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .links-KKM {
                margin-bottom: 5.5rem;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.5;
                color: #9f9f9f;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .group-24-Fyh {
                flex-direction: column;
                flex-shrink: 0;
                margin-left: 0.2rem;
                display: flex;

                .home-cZM {
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 4.6rem;
                  font-size: 1.6rem;
                  font-weight: 500;
                  line-height: 1.5;
                }
                .shop-ZDh {
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 4.6rem;
                  font-size: 1.6rem;
                  font-weight: 500;
                  line-height: 1.5;
                }
                .about-u2f {
                  flex-shrink: 0;
                  margin-bottom: 4.5rem;
                  font-size: 1.6rem;
                  font-weight: 500;
                  line-height: 1.5;
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                }
                .contact-SHV {
                  flex-shrink: 0;
                  font-size: 1.6rem;
                  font-weight: 500;
                  line-height: 1.5;
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                }
              }
            }
            .group-27-aPh {
              width: 14rem;
              flex-shrink: 0;

              .help-Y5d {
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                margin-bottom: 5.5rem;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.5;
                color: #9f9f9f;
              }
              .group-25-sNo {
                width: 100%;
                display: flex;
                flex-direction: column;

                .payment-options-q4j {
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 4.6rem;
                  font-size: 1.6rem;
                  font-weight: 500;
                  line-height: 1.5;
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                }
                .returns-mj5 {
                  font-size: 1.6rem;
                  font-weight: 500;
                  line-height: 1.5;
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 4.5rem;
                }
                .privacy-policies-iPR {
                  font-weight: 500;
                  line-height: 1.5;
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.6rem;
                }
              }
            }
          }
          .group-30-T67 {
            margin-top: 0.2rem;
            width: 28.6004rem;
            flex-shrink: 0;

            .newsletter-ofm {
              margin-bottom: 5.3rem;
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
              color: #9f9f9f;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
            }
            .group-29-Z99 {
              flex-direction: column;
              width: 100%;
              align-items: center;
              display: flex;

              .auto-group-p16f-Ke7 {
                margin: 0rem 0rem 0.3rem 0rem;
                width: calc(100% - 0.0004rem);
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .enter-your-email-address-TVR {
                  font-weight: 400;
                  line-height: 1.5;
                  color: #9f9f9f;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-right: 3.8rem;
                  font-size: 1.4rem;
                }
                .subscribe-o3V {
                  font-size: 1.4rem;
                  font-weight: 500;
                  line-height: 1.5;
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
              .auto-group-z9yz-Lp7 {
                width: 100%;
                height: 0.1rem;
                border-top: solid 0.1rem #000000;
                box-sizing: border-box;
                flex-shrink: 0;
              }
            }
          }
        }
      }
      .group-44-epo {
        box-sizing: border-box;
        padding: 3.5rem 0.201rem 0rem 0.201rem;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        width: 100%;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        border-top: solid 0.1rem #d9d9d9;
      }
    }
  }
}
