
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.contact-48f {
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;

  .header-oM9 {
    width: 100%;
    height: 10rem;
    background-color: #ffffff;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 2.9rem 10rem 2.9rem 5.4rem;

    .group-168-jEo {
      width: 100%;
      height: 100%;
      position: relative;

      .group-2-tNb {
        top: 0.9rem;
        display: flex;
        column-gap: 7.5rem;
        align-items: center;
        width: 43rem;
        height: 2.4rem;
        position: absolute;
        left: 45.1rem;

        .home-Q63 {
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
        .shop-vq5 {
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .about-ULo {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.5;
          color: #000000;
        }
        .contact-R19 {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
        }
      }
      .group-1-9hq {
        box-sizing: border-box;
        padding-right: 0.1796rem;
        cursor: pointer;
        position: absolute;
        left: 0;
        width: 128.6rem;
        height: 4.2rem;
        top: 0;
        display: flex;
        align-items: center;

        .frame-168-4K1 {
          flex-shrink: 0;
          margin-right: 85.6333rem;
          height: 100%;
          display: flex;
          align-items: center;

          .meubel-houselogos-05-p3H {
            background-size: 154% 240.625%;
            background-position: -1.3rem -2.2rem;
            background-image: url('REPLACE_IMAGE:2727769ba74736d502746301ed573ed8940fc322');
            flex-shrink: 0;
            margin: 0rem 0.5rem 0.1rem 0rem;
            width: 5rem;
            height: 3.2rem;

            .meubel-houselogos-05-p3H-bg {
              width: 5rem;
              height: 3.2rem;
              position: relative;
              background-image: url('REPLACE_IMAGE:2727769ba74736d502746301ed573ed8940fc322');
            }
          }
          .skinclinic-3wd {
            flex-shrink: 0;
            font-size: 3.4rem;
            font-weight: 700;
            line-height: 1.2175;
            color: #000000;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .mdi-account-alert-outline-z6B {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 4.967rem 0rem 0rem;
          width: 2.3333rem;
          height: 1.8667rem;
          object-fit: contain;
        }
        .akar-icons-search-VHq {
          margin: 0rem 5.083rem 0.117rem 0rem;
          width: 2.2167rem;
          height: 2.2167rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .akar-icons-heart-1my {
          height: 2.0806rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 4.901rem 0.019rem 0rem;
          width: 2.3333rem;
        }
        .ant-design-shopping-cart-outlined-kDm {
          height: 2.2058rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-top: 0.1168rem;
          width: 2.453rem;
        }
      }
    }
  }
  .group-78-f5q {
    padding: 6.1rem 62.2rem 9.7rem 62.2rem;
    width: 100%;
    display: flex;
    filter: blur(0.3rem);
    background-image: url('REPLACE_IMAGE:1461f3d6ff74c027a1888544144abe4be6e02cbf');
    flex-shrink: 0;
    box-sizing: border-box;
    align-items: center;
    flex-direction: column;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;

    .group-55-nRM {
      margin-bottom: 0.1rem;
      width: 100%;
      height: 13.3rem;
      position: relative;
      flex-shrink: 0;

      .contact-X83 {
        font-weight: 500;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        width: 19.6rem;
        height: 7.2rem;
        top: 6.1rem;
        line-height: 1.5;
        white-space: nowrap;
        position: absolute;
        left: 0;
        font-size: 4.8rem;
      }
      .meubel-houselogos-05-Qhd {
        left: 6rem;
        top: 0;
        object-fit: cover;
        vertical-align: top;
        width: 7.7rem;
        height: 7.7rem;
        position: absolute;
      }
    }
    .group-56-6qM {
      display: flex;
      column-gap: 1.2rem;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 1.3rem 0rem 3.8rem;
      width: calc(100% - 5.1rem);

      .home-BM1 {
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 500;
      }
      .dashicons-arrow-down-alt2-JRd {
        width: 0.8rem;
        height: 1.4rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .contact-S23 {
        font-weight: 300;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
      }
    }
  }
  .group-162-wDh {
    flex-direction: column;
    background-color: #ffffff;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 9.8rem 19.1rem 0rem 19.1rem;
    width: 100%;
    align-items: center;
    display: flex;

    .get-in-touch-with-us-s7M {
      font-weight: 600;
      line-height: 1.5;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 0rem 0.7rem 0.1rem;
      font-size: 3.6rem;
    }
    .for-more-information-about-our-product-services-please-feel-free-to-drop-us-an-email-our-staff-always-be-there-to-help-you-out-do-not-hesitate-YzB {
      flex-shrink: 0;
      max-width: 62.8rem;
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 1.5;
      color: #9f9f9f;
      font-family: Poppins, 'Source Sans Pro';
      margin-bottom: 1.4rem;
      text-align: center;
    }
    .group-161-zrB {
      width: 100%;
      height: 92.3rem;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .group-155-x2K {
        margin: 6.8rem 3rem 0rem 0rem;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        padding: 4.612rem 7.4rem 4.7rem 4.975rem;
        width: 39.3rem;
        align-items: center;
        background-color: #ffffff;
        flex-shrink: 0;

        .auto-group-cngf-EEj {
          flex-shrink: 0;
          margin: 0rem 11.4rem 0rem 0.425rem;
          width: calc(100% - 11.825rem);
          display: flex;
          align-items: flex-start;

          .vector-Mq9 {
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 3rem;
            width: 2.2rem;
            height: 2.7592rem;
            object-fit: contain;
          }
          .address-7xj {
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-top: 1.188rem;
            font-size: 2.4rem;
            font-weight: 500;
            line-height: 1.5;
          }
        }
        .th-se-avenue-new-york-ny10000-united-states-qtj {
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0rem 0rem 4.2rem 3.125rem;
          max-width: 18.8rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
        }
        .auto-group-mvcp-XFm {
          align-items: center;
          flex-shrink: 0;
          margin-right: 13.7rem;
          width: calc(100% - 13.7rem);
          display: flex;

          .bxs-phone-4mV {
            margin: 0.023rem 3.398rem 0rem 0rem;
            width: 2.2268rem;
            height: 2.2268rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .phone-azj {
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.4rem;
            font-weight: 500;
          }
        }
        .mobile-84-546-6789-hotline-84-456-6789-KxK {
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0rem 0rem 1.8rem 3.425rem;
          max-width: 19.1rem;
          font-size: 1.6rem;
          font-weight: 400;
        }
        .auto-group-m4jb-E3h {
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 4.7rem 0rem 0.325rem;
          width: calc(100% - 5.025rem);
          display: flex;

          .bi-clock-fill-MPD {
            width: 2.3rem;
            height: 2.3rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 3rem 0.1rem 0rem;
          }
          .working-time-UTq {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.4rem;
            font-weight: 500;
            line-height: 1.5;
            color: #000000;
          }
        }
        .monday-friday-9-00-22-00-saturday-sunday-9-00-21-00-Q6b {
          margin-left: 5.625rem;
          max-width: 21.3rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
        }
      }
      .group-160-h5h {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 11.9rem 5.2rem 6.3rem 5.2rem;
        width: 63.5rem;
        height: 100%;
        background-color: #ffffff;

        .group-159-cyM {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;

          .group-112-NSj {
            margin: 0rem 0rem 3.6rem 0.1rem;
            display: flex;
            flex-direction: column;
            border-radius: 1rem;
            flex-shrink: 0;

            .your-name-uhZ {
              flex-shrink: 0;
              margin-bottom: 2.2rem;
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
            }
            .auto-group-nqfy-3Hy {
              line-height: 1.5;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              border: solid 0.1rem #9f9f9f;
              background-color: #ffffff;
              flex-shrink: 0;
              margin-left: 0.125rem;
              box-sizing: border-box;
              padding: 2.6rem 2.975rem 2.5rem 2.975rem;
              width: 52.875rem;
              font-size: 1.6rem;
              border-radius: 1rem;
              font-weight: 400;
              color: #9f9f9f;
            }
          }
          .group-113-Tcb {
            display: flex;
            flex-direction: column;
            border-radius: 1rem;
            flex-shrink: 0;
            margin: 0rem 0rem 3.6rem 0.1rem;

            .email-address-bD1 {
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 2.2rem;
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
            }
            .auto-group-ejz9-8Cw {
              line-height: 1.5;
              color: #9f9f9f;
              padding: 2.6rem 2.975rem 2.5rem 2.975rem;
              width: 52.875rem;
              white-space: nowrap;
              background-color: #ffffff;
              font-size: 1.6rem;
              font-weight: 400;
              font-family: Poppins, 'Source Sans Pro';
              border: solid 0.1rem #9f9f9f;
              border-radius: 1rem;
              margin-left: 0.125rem;
              box-sizing: border-box;
              flex-shrink: 0;
            }
          }
          .group-156-P8s {
            margin: 0rem 0rem 3.6rem 0.3rem;
            display: flex;
            flex-direction: column;
            border-radius: 1rem;
            flex-shrink: 0;

            .subject-jCj {
              margin-bottom: 2.2rem;
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .auto-group-agz5-TuR {
              width: 52.6755rem;
              background-color: #ffffff;
              font-weight: 400;
              color: #9f9f9f;
              border-radius: 1rem;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-family: Poppins, 'Source Sans Pro';
              border: solid 0.1rem #9f9f9f;
              line-height: 1.5;
              white-space: nowrap;
              margin-left: 0.1245rem;
              box-sizing: border-box;
              padding: 2.6rem 2.975rem 2.5rem 2.975rem;
            }
          }
          .group-157-5vo {
            flex-direction: column;
            border-radius: 1rem;
            flex-shrink: 0;
            margin-bottom: 4.9rem;
            display: flex;

            .message-qf5 {
              flex-shrink: 0;
              margin-bottom: 2.2rem;
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
            }
            .auto-group-yyip-Nuu {
              height: 12rem;
              white-space: nowrap;
              padding: 2.6rem 3rem;
              width: 52.7rem;
              color: #9f9f9f;
              border-radius: 1rem;
              line-height: 1.5;
              font-family: Poppins, 'Source Sans Pro';
              border: solid 0.1rem #9f9f9f;
              background-color: #ffffff;
              box-sizing: border-box;
              font-size: 1.6rem;
              flex-shrink: 0;
              margin-left: 0.1rem;
              font-weight: 400;
            }
          }
          .group-21-pG7 {
            font-size: 1.6rem;
            line-height: 1.5;
            font-family: Poppins, 'Source Sans Pro';
            box-sizing: border-box;
            border-radius: 0.5rem;
            width: 23.7rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border: solid 0.1rem #b88e2f;
            margin-left: 0.7rem;
            color: #ffffff;
            white-space: nowrap;
            background-color: #b88e2f;
            height: 5.5rem;
            font-weight: 400;
            flex-shrink: 0;
          }
        }
      }
    }
  }
  .frame-161-eF9 {
    flex-shrink: 0;
    margin-bottom: 3rem;
    box-sizing: border-box;
    padding: 10rem 5.3rem 8.5rem 5.3rem;
    width: 100%;
    height: 27rem;
    background-color: #faf3ea;

    .feature-AzB {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: flex-start;

      .frame-5-XJw {
        padding-left: 0.3614rem;
        height: 7rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin-right: 5.4333rem;
        box-sizing: border-box;

        .trophy-1-GGX {
          flex-shrink: 0;
          margin-right: 1.3614rem;
          width: 5.2772rem;
          height: 6rem;
          object-fit: contain;
          vertical-align: top;
        }
        .text-QNj {
          height: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .high-quality-NKZ {
            flex-shrink: 0;
            margin-bottom: 0.2rem;
            font-size: 2.5rem;
            font-weight: 600;
            line-height: 1.5;
            color: #242424;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
          .crafted-from-top-materials-6mM {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.5;
            color: #898989;
          }
        }
      }
      .frame-19-pxF {
        height: 100%;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .guarantee-neB {
          margin: 0.594rem 0.1rem 0rem 0rem;
          width: 6rem;
          height: 5.8125rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .auto-group-mftv-7RZ {
          padding-left: 0.9rem;
          width: 26.7rem;
          height: 100%;
          flex-shrink: 0;
          box-sizing: border-box;

          .text-rtw {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 7rem;

            .warranty-protection-RBM {
              flex-shrink: 0;
              margin-bottom: 0.2rem;
              font-size: 2.5rem;
              font-weight: 600;
              line-height: 1.5;
              color: #242424;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
            }
            .over-2-years-MKu {
              color: #898989;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 500;
              line-height: 1.5;
            }
          }
        }
      }
      .auto-group-eh7m-62b {
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-left: 5.5334rem;
        height: 100%;

        .frame-2-SMM {
          margin-right: 5.5333rem;
          height: 7rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .shipping-ng7 {
            height: 5.5971rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 1rem 0rem 0rem;
            width: 6rem;
          }
          .text-vXR {
            flex-direction: column;
            flex-shrink: 0;
            height: 100%;
            display: flex;

            .free-shipping-5fD {
              line-height: 1.5;
              color: #242424;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.2rem;
              font-size: 2.5rem;
              font-weight: 600;
            }
            .order-over-150--cv3 {
              line-height: 1.5;
              color: #898989;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 500;
            }
          }
        }
        .frame-4-kmM {
          flex-shrink: 0;
          box-sizing: border-box;
          padding-left: 0.3529rem;
          height: 7rem;
          display: flex;
          align-items: center;

          .customer-support-767 {
            flex-shrink: 0;
            margin-right: 1.353rem;
            width: 5.2941rem;
            height: 6rem;
            object-fit: contain;
            vertical-align: top;
          }
          .text-qXu {
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .support-c2s {
              flex-shrink: 0;
              margin-bottom: 0.2rem;
              font-size: 2.5rem;
              font-weight: 600;
              line-height: 1.5;
              color: #242424;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
            }
            .dedicated-support-XvX {
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 500;
              line-height: 1.5;
              color: #898989;
            }
          }
        }
      }
    }
  }
  .footer-rhu {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 4.8rem 9.999rem 3.8rem 10rem;
    width: 100%;
    height: 50.5rem;
    border: solid 0.1rem rgba(0, 0, 0, 0.1700000018);
    background-color: #ffffff;

    .group-45-bQb {
      height: 100%;
      display: flex;
      flex-direction: column;
      width: 100%;

      .group-32-9wu {
        margin: 0rem 10.7rem 4.8rem 0rem;
        width: calc(100% - 10.7003rem);
        height: 31.2rem;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .auto-group-qais-gS3 {
          margin-right: 13.6rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .funiro-SAK {
            margin-bottom: 5rem;
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .university-drive-suite-200-coral-gables-fl-33134-usa-NJs {
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
            margin-left: 0.2008rem;
            max-width: 28.5rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #9f9f9f;
          }
        }
        .group-31-sWX {
          height: 100%;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .group-28-Eby {
            margin-right: 7.2rem;
            height: 100%;
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;

            .group-26-Pzf {
              height: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              margin-right: 14.4rem;

              .links-xH5 {
                line-height: 1.5;
                color: #9f9f9f;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 5.5rem;
                font-size: 1.6rem;
                font-weight: 500;
              }
              .group-24-V27 {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                margin-left: 0.2rem;

                .home-33d {
                  margin-bottom: 4.6rem;
                  font-size: 1.6rem;
                  font-weight: 500;
                  line-height: 1.5;
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
                .shop-yhy {
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 4.6rem;
                  font-size: 1.6rem;
                  font-weight: 500;
                  line-height: 1.5;
                }
                .about-vdD {
                  margin-bottom: 4.5rem;
                  font-size: 1.6rem;
                  font-weight: 500;
                  line-height: 1.5;
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
                .contact-sYT {
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.6rem;
                  font-weight: 500;
                  line-height: 1.5;
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                }
              }
            }
            .group-27-cW3 {
              width: 14rem;
              flex-shrink: 0;

              .help-mtj {
                font-weight: 500;
                line-height: 1.5;
                color: #9f9f9f;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                margin-bottom: 5.5rem;
                font-size: 1.6rem;
              }
              .group-25-iZ5 {
                width: 100%;
                display: flex;
                flex-direction: column;

                .payment-options-5Pd {
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 4.6rem;
                  font-size: 1.6rem;
                  font-weight: 500;
                  line-height: 1.5;
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                }
                .returns-yzo {
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 4.5rem;
                  font-size: 1.6rem;
                  font-weight: 500;
                  line-height: 1.5;
                  color: #000000;
                }
                .privacy-policies-jDH {
                  flex-shrink: 0;
                  font-size: 1.6rem;
                  font-weight: 500;
                  line-height: 1.5;
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                }
              }
            }
          }
          .group-30-fMq {
            margin-top: 0.2rem;
            width: 28.6004rem;
            flex-shrink: 0;

            .newsletter-1gb {
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
              color: #9f9f9f;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 5.3rem;
            }
            .group-29-ku5 {
              width: 100%;
              align-items: center;
              display: flex;
              flex-direction: column;

              .auto-group-ws5h-6T9 {
                margin: 0rem 0rem 0.3rem 0rem;
                width: calc(100% - 0.0004rem);
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .enter-your-email-address-pe3 {
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-right: 3.8rem;
                  font-size: 1.4rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #9f9f9f;
                }
                .subscribe-kXh {
                  font-size: 1.4rem;
                  font-weight: 500;
                  line-height: 1.5;
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
              .auto-group-ncz5-HnX {
                box-sizing: border-box;
                flex-shrink: 0;
                width: 100%;
                height: 0.1rem;
                border-top: solid 0.1rem #000000;
              }
            }
          }
        }
      }
      .group-44-boD {
        width: 100%;
        font-weight: 400;
        color: #000000;
        border-top: solid 0.1rem #d9d9d9;
        box-sizing: border-box;
        padding: 3.5rem 0.201rem 0rem 0.201rem;
        font-size: 1.6rem;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
  }
}
