
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.home-ALF {
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;

  .banner-Gu5 {
    width: 100%;
    height: 81.2533rem;
    position: relative;
    flex-shrink: 0;

    .header-dDq {
      box-sizing: border-box;
      padding: 2.9rem 10rem 2.9rem 5.4rem;
      width: 144rem;
      height: 10rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #ffffff;

      .group-168-8RV {
        height: 100%;
        position: relative;
        width: 100%;

        .group-2-67R {
          align-items: center;
          width: 43rem;
          height: 2.4rem;
          position: absolute;
          left: 45.1rem;
          top: 0.9rem;
          display: flex;
          column-gap: 7.5rem;

          .home-QP1 {
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .shop-jRH {
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
          }
          .about-gLX {
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
          .contact-pSj {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            color: #000000;
          }
        }
        .group-1-AFh {
          box-sizing: border-box;
          height: 4.2rem;
          position: absolute;
          top: 0;
          display: flex;
          padding-right: 0.1796rem;
          width: 128.6rem;
          cursor: pointer;
          left: 0;
          align-items: center;

          .frame-168-H5R {
            margin-right: 85.6333rem;
            height: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .meubel-houselogos-05-d9H {
              margin: 0rem 0.5rem 0.1rem 0rem;
              width: 5rem;
              height: 3.2rem;
              background-size: 154% 240.625%;
              background-position: -1.3rem -2.2rem;
              background-image: url('REPLACE_IMAGE:2727769ba74736d502746301ed573ed8940fc322');
              flex-shrink: 0;

              .meubel-houselogos-05-d9H-bg {
                position: relative;
                background-image: url('REPLACE_IMAGE:2727769ba74736d502746301ed573ed8940fc322');
                width: 5rem;
                height: 3.2rem;
              }
            }
            .skinclinic-4VV {
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 3.4rem;
              font-weight: 700;
              line-height: 1.2175;
              color: #000000;
            }
          }
          .mdi-account-alert-outline-ngP {
            width: 2.3333rem;
            height: 1.8667rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 4.967rem 0rem 0rem;
          }
          .akar-icons-search-Jej {
            width: 2.2167rem;
            height: 2.2167rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 5.083rem 0.117rem 0rem;
          }
          .akar-icons-heart-E2b {
            margin: 0rem 4.901rem 0.019rem 0rem;
            width: 2.3333rem;
            height: 2.0806rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .ant-design-shopping-cart-outlined-Yoy {
            margin-top: 0.1168rem;
            width: 2.453rem;
            height: 2.2058rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
    }
    .mask-group-rpf {
      position: absolute;
      left: 0;
      top: 9.5705rem;
      object-fit: contain;
      vertical-align: top;
      width: 144rem;
      height: 71.6828rem;
    }
  }
  .auto-group-9dh9-bGT {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 5.647rem 10rem 6.9rem 10.2rem;
    width: 100%;
    align-items: center;

    .group-115-WeK {
      margin: 0rem 2.6rem 5.6rem 2.9rem;
      width: calc(100% - 5.5rem);
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .group-107-diw {
        margin: 0rem 30.95rem 6.1rem 32.15rem;
        width: calc(100% - 63.1rem);
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .browse-the-range-mKM {
          font-size: 3.2rem;
          font-weight: 700;
          line-height: 1.5;
          color: #333333;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 7.1rem;
        }
        .treating-all-skin-co-t95 {
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.5;
          color: #666666;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
        }
      }
      .auto-group-dru1-R91 {
        width: 100%;
        display: flex;
        column-gap: 2rem;
        align-items: center;
        flex-shrink: 0;
        margin-bottom: 3rem;

        .mask-group-ZFD {
          vertical-align: top;
          flex-shrink: 0;
          width: 38.1rem;
          height: 48rem;
          position: relative;
          object-fit: contain;
        }
        .image-living-room-hcK {
          height: 48rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 38.1rem;
        }
        .mask-group-E6T {
          vertical-align: top;
          flex-shrink: 0;
          width: 38.1rem;
          height: 48rem;
          position: relative;
          object-fit: contain;
        }
      }
      .auto-group-5lm5-xYF {
        flex-shrink: 0;
        margin: 0rem 13.5rem 0rem 15.1rem;
        width: calc(100% - 28.6rem);
        display: flex;
        align-items: center;

        .dining-gUF {
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 32.6rem;
          font-size: 2.4rem;
          font-weight: 600;
          font-family: Poppins, 'Source Sans Pro';
          text-align: center;
          line-height: 1.5;
          color: #333333;
        }
        .living-DDH {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          margin-right: 30.9rem;
          font-weight: 600;
          line-height: 1.5;
          color: #333333;
          flex-shrink: 0;
          text-align: center;
          font-size: 2.4rem;
        }
        .bedroom-wuy {
          line-height: 1.5;
          color: #333333;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 2.4rem;
          font-weight: 600;
        }
      }
    }
    .our-products-sYj {
      width: 100%;
      row-gap: 3.2rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .title-pTy {
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        margin-left: 0.3rem;
        text-align: center;
        font-size: 4rem;
        font-weight: 700;
        line-height: 1.2;
        color: #3a3a3a;
        white-space: nowrap;
      }
      .frame-7-k6j {
        flex-shrink: 0;
        width: 100%;
        height: 44.6rem;
        display: flex;
        align-items: center;

        .featured-products-6Ab {
          margin-right: 3.2rem;
          width: 28.5rem;
          height: 100%;
          cursor: pointer;
          position: relative;
          flex-shrink: 0;

          .bg-2a3 {
            left: 0;
            top: 30.1rem;
            background-color: #f4f5f7;
            width: 28.5rem;
            height: 14.5rem;
            position: absolute;
          }
          .description-NP1 {
            width: 24.9rem;
            height: 9.9rem;
            position: absolute;
            left: 1.6rem;
            top: 31.7rem;

            .product-name-u83 {
              margin-bottom: 0.8rem;
              display: flex;
              flex-direction: column;

              .product-name-rZ5 {
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.8rem;
                font-size: 2.4rem;
                font-weight: 600;
                line-height: 1.2000000477;
                color: #3a3a3a;
              }
              .sort-description-nxX {
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.5;
                color: #898989;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
            .frame-6-voq {
              width: 100%;
              display: flex;
              align-items: center;

              .fix-price-h3u {
                flex-shrink: 0;
                margin-right: 1.6rem;
                font-size: 2rem;
                font-weight: 600;
                line-height: 1.5;
                color: #3a3a3a;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
              }
              .fix-price-dTM {
                text-decoration-line: line-through;
                color: #b0b0b0;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
              }
            }
          }
          .images-Zro {
            top: 0;
            width: 28.7rem;
            height: 30.1rem;
            position: absolute;
            left: 0;

            .image-8-hy1 {
              object-fit: cover;
              vertical-align: top;
              width: 28.5rem;
              height: 30.1rem;
              position: absolute;
              left: 0;
              top: 0;
            }
            .image-7-etF {
              position: absolute;
              left: 0;
              top: 0;
              object-fit: cover;
              vertical-align: top;
              width: 28.5rem;
              height: 30.1rem;
            }
            .image-6-1D1 {
              width: 28.5rem;
              height: 30.1rem;
              position: absolute;
              left: 0;
              top: 0;
              object-fit: cover;
              vertical-align: top;
            }
            .image-5-MXm {
              top: 0;
              object-fit: contain;
              vertical-align: top;
              width: 28.5rem;
              height: 30.1rem;
              position: absolute;
              left: 0;
            }
            .image-4-W9m {
              width: 28.5rem;
              height: 30.1rem;
              position: absolute;
              left: 0;
              top: 0;
              object-fit: cover;
              vertical-align: top;
            }
            .image-3-4BH {
              width: 28.5rem;
              height: 30.1rem;
              position: absolute;
              left: 0;
              top: 0;
              object-fit: cover;
              vertical-align: top;
            }
            .image-2-oef {
              left: 0.1rem;
              top: 0;
              object-fit: cover;
              vertical-align: top;
              width: 28.4rem;
              height: 30.1rem;
              position: absolute;
            }
            .image-1-MRH {
              vertical-align: top;
              width: 28.5rem;
              height: 30.1rem;
              position: absolute;
              left: 0;
              top: 0;
              object-fit: cover;
            }
            .discount-5s5 {
              font-weight: 500;
              line-height: 1.5;
              border-radius: 2.4rem;
              top: 2.4rem;
              left: 21.3rem;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              height: 4.8rem;
              padding: 1.2rem 0.1rem 1.2rem 0.5rem;
              width: 4.8rem;
              position: absolute;
              background-color: #e97171;
              box-sizing: border-box;
              color: #ffffff;
              font-size: 1.6rem;
            }
          }
        }
        .featured-products-WhV {
          position: relative;
          flex-shrink: 0;
          margin-right: 3rem;
          width: 28.7rem;
          height: 100%;
          cursor: pointer;

          .bg-eHu {
            background-color: #f4f5f7;
            width: 28.5rem;
            height: 14.5rem;
            position: absolute;
            left: 0;
            top: 30.1rem;
          }
          .description-yLB {
            width: 24.9rem;
            height: 9.9rem;
            position: absolute;
            left: 1.6rem;
            top: 31.7rem;

            .product-name-uUj {
              margin-bottom: 0.8rem;
              display: flex;
              flex-direction: column;

              .product-name-FoV {
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.8rem;
                font-size: 2.4rem;
                font-weight: 600;
                line-height: 1.2000000477;
                color: #3a3a3a;
                font-family: Poppins, 'Source Sans Pro';
              }
              .sort-description-o4K {
                line-height: 1.5;
                color: #898989;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.6rem;
                font-weight: 500;
              }
            }
            .frame-6-La3 {
              color: #3a3a3a;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              width: 100%;
              font-size: 2rem;
              font-weight: 600;
              line-height: 1.5;
            }
          }
          .images-t5m {
            width: 28.7rem;
            height: 30.1rem;
            position: absolute;
            left: 0;
            top: 0;

            .image-8-R5h {
              top: 0;
              object-fit: cover;
              vertical-align: top;
              width: 28.5rem;
              height: 30.1rem;
              position: absolute;
              left: 0;
            }
            .image-7-AJB {
              vertical-align: top;
              width: 28.5rem;
              height: 30.1rem;
              position: absolute;
              left: 0;
              top: 0;
              object-fit: cover;
            }
            .image-6-Wcw {
              left: 0;
              top: 0;
              object-fit: cover;
              vertical-align: top;
              width: 28.5rem;
              height: 30.1rem;
              position: absolute;
            }
            .image-5-FqR {
              vertical-align: top;
              width: 28.5rem;
              height: 30.1rem;
              position: absolute;
              left: 0;
              top: 0;
              object-fit: contain;
            }
            .image-4-cAB {
              left: 0;
              top: 0;
              object-fit: cover;
              vertical-align: top;
              width: 28.5rem;
              height: 30.1rem;
              position: absolute;
            }
            .image-3-MdZ {
              width: 28.5rem;
              height: 30.1rem;
              position: absolute;
              left: 0;
              top: 0;
              object-fit: cover;
              vertical-align: top;
            }
            .image-2-JYo {
              height: 30.1rem;
              position: absolute;
              left: 0.1rem;
              top: 0;
              object-fit: cover;
              vertical-align: top;
              width: 28.4rem;
            }
            .discount-r4X {
              box-sizing: border-box;
              padding: 1.2rem 0.1rem 1.2rem 0.5rem;
              height: 4.8rem;
              position: absolute;
              color: #ffffff;
              font-family: Poppins, 'Source Sans Pro';
              border-radius: 2.4rem;
              width: 4.8rem;
              left: 21.3rem;
              top: 2.4rem;
              font-size: 1.6rem;
              white-space: nowrap;
              font-weight: 500;
              line-height: 1.5;
              background-color: #e97171;
            }
          }
          .pop-up-u2o {
            background-color: rgba(58, 58, 58, 0.7200000286);
            box-sizing: border-box;
            padding: 17.5rem 1.7rem 17.5rem 1.6rem;
            width: 28.5rem;
            height: 44.6rem;
            position: absolute;
            left: 0;
            top: 0;

            .button-pQf {
              width: 100%;
              height: 100%;
              align-items: center;
              display: flex;
              flex-direction: column;

              .cta-yYT {
                line-height: 1.5;
                background-color: #ffffff;
                width: calc(100% - 5rem);
                white-space: nowrap;
                flex-shrink: 0;
                font-weight: 600;
                font-family: Poppins, 'Source Sans Pro';
                display: flex;
                color: #b88e2f;
                align-items: center;
                justify-content: center;
                margin: 0rem 2.5rem 2.4rem 2.5rem;
                height: 4.8rem;
                cursor: pointer;
                font-size: 1.6rem;
              }
              .frame-5-Swq {
                width: 100%;
                height: 2.4rem;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .frame-11-QNs {
                  box-sizing: border-box;
                  padding-left: 0.2rem;
                  height: 100%;
                  display: flex;
                  align-items: center;
                  flex-shrink: 0;
                  margin-right: 2rem;

                  .gridicons-share-M3D {
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                    margin: 0rem 0.4rem 0rem 0rem;
                    width: 1.2rem;
                    height: 1.3333rem;
                  }
                  .share-4iK {
                    font-size: 1.6rem;
                    font-weight: 600;
                    line-height: 1.5;
                    color: #ffffff;
                    font-family: Poppins, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                  }
                }
                .frame-12-1Nf {
                  margin-right: 2.1081rem;
                  box-sizing: border-box;
                  padding-left: 0.142rem;
                  height: 100%;
                  cursor: pointer;
                  display: flex;
                  align-items: center;
                  flex-shrink: 0;

                  .compare-svgrepo-com-1-Lvj {
                    margin-right: 0.348rem;
                    width: 1.31rem;
                    height: 1.4rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                  }
                  .compare-GpP {
                    font-family: Poppins, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-size: 1.6rem;
                    font-weight: 600;
                    line-height: 1.5;
                    color: #ffffff;
                  }
                }
                .frame-10-ctF {
                  height: 100%;
                  display: flex;
                  align-items: center;
                  flex-shrink: 0;

                  .heart-aq5 {
                    margin: 0.017rem 0.308rem 0rem 0rem;
                    width: 1.3837rem;
                    height: 1.1899rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                  }
                  .like-heo {
                    color: #ffffff;
                    font-family: Poppins, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-size: 1.6rem;
                    font-weight: 600;
                    line-height: 1.5;
                  }
                }
              }
            }
          }
        }
        .featured-products-2BH {
          margin-right: 3rem;
          width: 28.7rem;
          height: 100%;
          cursor: pointer;
          position: relative;
          flex-shrink: 0;

          .bg-xqd {
            height: 14.5rem;
            position: absolute;
            left: 0;
            top: 30.1rem;
            background-color: #f4f5f7;
            width: 28.5rem;
          }
          .description-JuV {
            position: absolute;
            left: 1.6rem;
            top: 31.7rem;
            width: 25.5rem;
            height: 9.9rem;

            .product-name-SVu {
              margin-bottom: 0.8rem;
              display: flex;
              flex-direction: column;

              .product-name-oLT {
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.8rem;
                font-size: 2.4rem;
                font-weight: 600;
                line-height: 1.2000000477;
                color: #3a3a3a;
                font-family: Poppins, 'Source Sans Pro';
              }
              .sort-description-Y39 {
                flex-shrink: 0;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.5;
                color: #898989;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
            .frame-6-5Ys {
              width: 100%;
              display: flex;
              align-items: center;

              .fix-price-FCT {
                flex-shrink: 0;
                margin-right: 1.6rem;
                font-size: 2rem;
                font-weight: 600;
                line-height: 1.5;
                color: #3a3a3a;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
              }
              .fix-price-BM1 {
                text-decoration-line: line-through;
                color: #b0b0b0;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
              }
            }
          }
          .images-irj {
            width: 28.7rem;
            height: 30.1rem;
            position: absolute;
            left: 0;
            top: 0;

            .image-8-TpK {
              top: 0;
              object-fit: cover;
              vertical-align: top;
              width: 28.5rem;
              height: 30.1rem;
              position: absolute;
              left: 0;
            }
            .image-7-cSK {
              vertical-align: top;
              width: 28.5rem;
              height: 30.1rem;
              position: absolute;
              left: 0;
              top: 0;
              object-fit: cover;
            }
            .image-6-m4K {
              height: 30.1rem;
              position: absolute;
              left: 0;
              top: 0;
              object-fit: cover;
              vertical-align: top;
              width: 28.5rem;
            }
            .image-5-ugK {
              height: 30.1rem;
              position: absolute;
              left: 0;
              top: 0;
              object-fit: contain;
              vertical-align: top;
              width: 28.5rem;
            }
            .image-4-4JK {
              object-fit: cover;
              vertical-align: top;
              width: 28.5rem;
              height: 30.1rem;
              position: absolute;
              left: 0;
              top: 0;
            }
            .image-3-DBD {
              width: 28.5rem;
              height: 30.1rem;
              position: absolute;
              left: 0;
              top: 0;
              object-fit: cover;
              vertical-align: top;
            }
            .discount-kwq {
              box-sizing: border-box;
              font-family: Poppins, 'Source Sans Pro';
              border-radius: 2.4rem;
              width: 4.8rem;
              color: #ffffff;
              white-space: nowrap;
              background-color: #e97171;
              padding: 1.2rem 0rem 1.2rem 0.5rem;
              height: 4.8rem;
              left: 21.3rem;
              top: 2.4rem;
              font-size: 1.6rem;
              line-height: 1.5;
              position: absolute;
              font-weight: 500;
            }
          }
        }
        .featured-products-cDM {
          width: 28.7rem;
          height: 100%;
          cursor: pointer;
          position: relative;
          flex-shrink: 0;

          .bg-9DH {
            background-color: #f4f5f7;
            width: 28.5rem;
            height: 14.5rem;
            position: absolute;
            left: 0;
            top: 30.1rem;
          }
          .description-V2F {
            height: 9.9rem;
            position: absolute;
            left: 1.6rem;
            top: 31.7rem;
            width: 25.5rem;

            .product-name-pKR {
              margin-bottom: 0.8rem;
              display: flex;
              flex-direction: column;

              .product-name-AeB {
                line-height: 1.2000000477;
                color: #3a3a3a;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.8rem;
                font-size: 2.4rem;
                font-weight: 600;
              }
              .sort-description-fqq {
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.5;
                color: #898989;
                font-family: Poppins, 'Source Sans Pro';
              }
            }
            .frame-6-Cqm {
              white-space: nowrap;
              width: 100%;
              font-size: 2rem;
              font-weight: 600;
              line-height: 1.5;
              color: #3a3a3a;
              font-family: Poppins, 'Source Sans Pro';
            }
          }
          .images-jqh {
            width: 28.7rem;
            height: 30.1rem;
            position: absolute;
            left: 0;
            top: 0;

            .image-4-58s {
              height: 30.1rem;
              object-fit: cover;
              vertical-align: top;
              width: 28.5rem;
            }
          }
        }
      }
      .frame-8-CzB {
        width: 100%;
        height: 44.6rem;
        display: flex;
        column-gap: 3rem;
        align-items: center;
        flex-shrink: 0;

        .featured-products-Z43 {
          width: 28.7rem;
          height: 100%;
          cursor: pointer;
          position: relative;
          flex-shrink: 0;

          .bg-75Z {
            height: 14.5rem;
            position: absolute;
            left: 0;
            top: 30.1rem;
            background-color: #f4f5f7;
            width: 28.5rem;
          }
          .description-Sdd {
            width: 24.9rem;
            height: 9.9rem;
            position: absolute;
            left: 1.6rem;
            top: 31.7rem;

            .product-name-aE3 {
              margin-bottom: 0.8rem;
              display: flex;
              flex-direction: column;

              .product-name-8FZ {
                font-weight: 600;
                line-height: 1.2000000477;
                color: #3a3a3a;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.8rem;
                font-size: 2.4rem;
              }
              .sort-description-ezb {
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.5;
                color: #898989;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
            .frame-6-o6o {
              line-height: 1.5;
              color: #3a3a3a;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              width: 100%;
              font-size: 2rem;
              font-weight: 600;
            }
          }
          .images-k23 {
            width: 28.7rem;
            height: 30.1rem;
            position: absolute;
            left: 0;
            top: 0;

            .image-8-Uyd {
              width: 28.5rem;
              height: 30.1rem;
              position: absolute;
              left: 0;
              top: 0;
              object-fit: cover;
              vertical-align: top;
            }
            .image-7-q3V {
              vertical-align: top;
              width: 28.5rem;
              height: 30.1rem;
              position: absolute;
              left: 0;
              top: 0;
              object-fit: cover;
            }
            .image-6-BNF {
              object-fit: cover;
              vertical-align: top;
              width: 28.5rem;
              height: 30.1rem;
              position: absolute;
              left: 0;
              top: 0;
            }
            .image-5-Xh1 {
              width: 28.5rem;
              height: 30.1rem;
              position: absolute;
              left: 0;
              top: 0;
              object-fit: contain;
              vertical-align: top;
            }
            .discount-gK1 {
              top: 2.4rem;
              font-size: 1.6rem;
              font-weight: 500;
              width: 4.8rem;
              height: 4.8rem;
              left: 21.3rem;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              box-sizing: border-box;
              padding: 1.2rem 0.1rem 1.2rem 0.5rem;
              background-color: #e97171;
              position: absolute;
              color: #ffffff;
              line-height: 1.5;
              border-radius: 2.4rem;
            }
          }
        }
        .featured-products-WYw {
          position: relative;
          flex-shrink: 0;
          width: 28.7rem;
          height: 100%;
          cursor: pointer;

          .bg-SxP {
            left: 0;
            top: 30.1rem;
            background-color: #f4f5f7;
            width: 28.5rem;
            height: 14.5rem;
            position: absolute;
          }
          .description-PMq {
            width: 24.9rem;
            height: 9.9rem;
            position: absolute;
            left: 1.6rem;
            top: 31.7rem;

            .product-name-vsZ {
              flex-direction: column;
              margin-bottom: 0.8rem;
              display: flex;

              .product-name-HTD {
                flex-shrink: 0;
                margin-bottom: 0.8rem;
                font-size: 2.4rem;
                font-weight: 600;
                line-height: 1.2000000477;
                color: #3a3a3a;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
              }
              .sort-description-E7Z {
                font-weight: 500;
                line-height: 1.5;
                color: #898989;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.6rem;
              }
            }
            .frame-6-Amu {
              line-height: 1.5;
              color: #3a3a3a;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              width: 100%;
              font-size: 2rem;
              font-weight: 600;
            }
          }
          .images-Was {
            width: 28.7rem;
            height: 30.1rem;
            position: absolute;
            left: 0;
            top: 0;

            .image-8-ewy {
              vertical-align: top;
              width: 28.5rem;
              height: 30.1rem;
              position: absolute;
              left: 0;
              top: 0;
              object-fit: cover;
            }
            .image-7-c87 {
              position: absolute;
              left: 0;
              top: 0;
              object-fit: cover;
              vertical-align: top;
              width: 28.5rem;
              height: 30.1rem;
            }
            .image-6-kk7 {
              top: 0;
              object-fit: cover;
              vertical-align: top;
              width: 28.5rem;
              height: 30.1rem;
              position: absolute;
              left: 0;
            }
          }
        }
        .featured-products-hfM {
          height: 100%;
          cursor: pointer;
          position: relative;
          flex-shrink: 0;
          width: 28.7rem;

          .bg-3jD {
            left: 0;
            top: 30.1rem;
            background-color: #f4f5f7;
            width: 28.5rem;
            height: 14.5rem;
            position: absolute;
          }
          .description-Po5 {
            left: 1.6rem;
            top: 31.7rem;
            width: 25.5rem;
            height: 9.9rem;
            position: absolute;

            .product-name-Kwd {
              display: flex;
              flex-direction: column;
              margin-bottom: 0.8rem;

              .product-name-5fu {
                font-weight: 600;
                line-height: 1.2000000477;
                color: #3a3a3a;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.8rem;
                font-size: 2.4rem;
              }
              .sort-description-RDy {
                color: #898989;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.5;
              }
            }
            .frame-6-AST {
              width: 100%;
              display: flex;
              align-items: center;

              .fix-price-L63 {
                flex-shrink: 0;
                margin-right: 1.6rem;
                font-size: 2rem;
                font-weight: 600;
                line-height: 1.5;
                color: #3a3a3a;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
              }
              .fix-price-UT9 {
                flex-shrink: 0;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                text-decoration-line: line-through;
                color: #b0b0b0;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
          }
          .images-RNP {
            left: 0;
            top: 0;
            width: 28.7rem;
            height: 30.1rem;
            position: absolute;

            .image-8-kvT {
              width: 28.5rem;
              height: 30.1rem;
              position: absolute;
              left: 0;
              top: 0;
              object-fit: cover;
              vertical-align: top;
            }
            .image-7-i6b {
              position: absolute;
              left: 0;
              top: 0;
              object-fit: cover;
              vertical-align: top;
              width: 28.5rem;
              height: 30.1rem;
            }
            .discount-FcK {
              border-radius: 2.4rem;
              top: 2.4rem;
              height: 4.8rem;
              font-size: 1.6rem;
              line-height: 1.5;
              white-space: nowrap;
              width: 4.8rem;
              position: absolute;
              background-color: #e97171;
              padding: 1.2rem 0rem 1.2rem 0.5rem;
              left: 21.3rem;
              font-weight: 500;
              color: #ffffff;
              font-family: Poppins, 'Source Sans Pro';
              box-sizing: border-box;
            }
          }
        }
        .featured-products-hUK {
          position: relative;
          flex-shrink: 0;
          width: 28.7rem;
          height: 100%;
          cursor: pointer;

          .bg-3o5 {
            position: absolute;
            left: 0;
            top: 30.1rem;
            background-color: #f4f5f7;
            width: 28.5rem;
            height: 14.5rem;
          }
          .description-zTR {
            width: 25.5rem;
            height: 9.9rem;
            position: absolute;
            left: 1.6rem;
            top: 31.7rem;

            .product-name-jA7 {
              margin-bottom: 0.8rem;
              display: flex;
              flex-direction: column;

              .product-name-gb9 {
                margin-bottom: 0.8rem;
                font-size: 2.4rem;
                font-weight: 600;
                line-height: 1.2000000477;
                color: #3a3a3a;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .sort-description-dFV {
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.5;
                color: #898989;
              }
            }
            .frame-6-Nis {
              color: #3a3a3a;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              width: 100%;
              font-size: 2rem;
              font-weight: 600;
              line-height: 1.5;
            }
          }
          .images-KPD {
            width: 28.7rem;
            height: 30.1rem;
            position: absolute;
            left: 0;
            top: 0;

            .image-8-4Lo {
              height: 30.1rem;
              object-fit: cover;
              vertical-align: top;
              width: 28.5rem;
            }
          }
        }
      }
      .show-more-zkF {
        font-weight: 600;
        color: #b88e2f;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        background-color: #ffffff;
        margin: 0rem 49.7rem 0rem 49.6rem;
        font-size: 1.6rem;
        align-items: center;
        border: solid 0.1rem #b88e2f;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        width: calc(100% - 99.3rem);
        height: 4.8rem;
        cursor: pointer;
        line-height: 1.5;
      }
    }
  }
  .inspirations-3Td {
    margin-bottom: 6.7rem;
    display: flex;
    background-color: #fbf7f3;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 4.4rem 0rem 4.4rem 10rem;
    width: 100%;
    height: 67rem;
    align-items: center;

    .auto-group-arkm-ZRy {
      width: 42.2rem;
      height: calc(100% - 35.8rem);
      flex-shrink: 0;
      margin: 17.9rem 4.2rem 17.9rem 0rem;

      .title-UYw {
        display: flex;
        flex-direction: column;
        margin-bottom: 2.5rem;
        width: 100%;

        .title-q8b {
          font-weight: 700;
          line-height: 1.2;
          color: #3a3a3a;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 0.7rem;
          max-width: 42.2rem;
          font-size: 4rem;
        }
        .subtitle-xj1 {
          color: #606060;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 36.3rem;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.5;
        }
      }
      .cta-Viw {
        font-weight: 600;
        line-height: 1.5;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        align-items: center;
        width: 17.6rem;
        height: 4.8rem;
        justify-content: center;
        background-color: #b88e2f;
        font-size: 1.6rem;
        display: flex;
      }
    }
    .products-ojd {
      height: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .image-NXq {
        background-image: url('REPLACE_IMAGE:f89a66d94961c3801f4c07439f27b13468e5e545');
        box-sizing: border-box;
        height: 100%;
        background-size: 100% 100%;
        background-position: center;
        flex-shrink: 0;
        padding: 42.8rem 11.5rem 2.4rem 2.4rem;
        display: flex;
        align-items: flex-end;
        background-repeat: no-repeat;

        .content-7VR {
          padding: 3.2rem 1.7rem 3.2rem 3.2rem;
          width: 21.7rem;
          height: 100%;
          display: flex;
          flex-direction: column;
          box-sizing: border-box;
          align-items: center;
          backdrop-filter: blur(1.6rem);
          background-color: rgba(255, 255, 255, 0.7200000286);
          flex-shrink: 0;

          .frame-3-qgK {
            margin: 0rem 2.6rem 0.8rem 0rem;
            display: flex;
            column-gap: 0.8rem;
            align-items: center;
            flex-shrink: 0;

            .item-01-a87 {
              color: #606060;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
            }
            .vector-1-iEK {
              height: 0;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 2.7rem;
            }
            .bed-room-4JB {
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
              color: #606060;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .inner-peace-bJ7 {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.8rem;
            font-weight: 600;
            line-height: 1.2000000817;
            color: #3a3a3a;
            font-family: Poppins, 'Source Sans Pro';
          }
        }
        .cta-VuH {
          vertical-align: top;
          flex-shrink: 0;
          width: 4.8rem;
          height: 4.8rem;
          object-fit: contain;
        }
      }
      .auto-group-xt6s-DKV {
        box-sizing: border-box;
        padding-left: 2.4rem;
        height: 100%;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .auto-group-duyw-Z8T {
          width: 39.3rem;
          flex-shrink: 0;
          margin-right: 0.3rem;

          .auto-group-gdmr-6u5 {
            margin-bottom: 4rem;
            width: 100%;
            height: 48.6rem;
            position: relative;

            .rectangle-25-TDq {
              height: 48.6rem;
              position: absolute;
              left: 0;
              top: 0;
              object-fit: cover;
              vertical-align: top;
              width: 37.2rem;
            }
            .group-13-baw {
              top: 26.7rem;
              object-fit: contain;
              vertical-align: top;
              width: 4.8rem;
              height: 4.8rem;
              position: absolute;
              left: 34.5rem;
            }
          }
          .indicator-L2j {
            display: flex;
            column-gap: 2rem;
            align-items: center;

            .active-UPq {
              width: 2.7rem;
              height: 2.7rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .ellipse-1-ckw {
              background-color: #d8d8d8;
              border-radius: 0.55rem;
              flex-shrink: 0;
              width: 1.1rem;
              height: 1.1rem;
            }
            .ellipse-2-MTd {
              flex-shrink: 0;
              width: 1.1rem;
              height: 1.1rem;
              background-color: #d8d8d8;
              border-radius: 0.55rem;
            }
            .ellipse-3-hXV {
              width: 1.1rem;
              height: 1.1rem;
              background-color: #d8d8d8;
              border-radius: 0.55rem;
              flex-shrink: 0;
            }
          }
        }
        .rectangle-26-F3D {
          width: 37.2rem;
          height: 48.6rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
  }
  .share-ZJo {
    height: 78rem;
    position: relative;
    flex-shrink: 0;
    margin-bottom: 5rem;
    width: 100%;

    .images-WE3 {
      display: flex;
      align-items: center;
      width: 179.9rem;
      height: 72.1rem;
      position: absolute;
      left: 0;
      top: 5.9rem;

      .auto-group-vb7u-Efq {
        width: 74.1rem;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-sto1-nST {
          margin-bottom: 1.6rem;
          width: 100%;
          height: 38.2rem;
          display: flex;
          align-items: flex-end;
          flex-shrink: 0;

          .auto-group-3spx-KhH {
            position: relative;
            flex-shrink: 0;
            margin-right: 1.6rem;
            width: 27.4rem;
            height: 100%;

            .rectangle-35-g23 {
              top: 0;
              background-color: #c4c4c4;
              width: 27.4rem;
              height: 31.2rem;
              position: absolute;
              left: 0;
            }
            .rectangle-36-RVR {
              top: 0;
              object-fit: cover;
              vertical-align: top;
              width: 27.4rem;
              height: 38.2rem;
              position: absolute;
              left: 0;
            }
          }
          .rectangle-38-Mdy {
            flex-shrink: 0;
            width: 45.1rem;
            height: 31.2rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .auto-group-ubn7-hhq {
          align-items: flex-start;
          flex-shrink: 0;
          width: 100%;
          display: flex;

          .rectangle-37-raj {
            margin-right: 1.6rem;
            width: 38.1rem;
            height: 32.3rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
          .rectangle-39-njH {
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            width: 34.4rem;
            height: 24.2rem;
          }
        }
      }
      .auto-group-rezd-vqV {
        box-sizing: border-box;
        padding: 1.4rem 0rem 1.6rem 1.6rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .rectangle-40-Fsm {
          width: 29.5rem;
          height: 39.2rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1.6rem 1.5rem 0rem;
        }
        .auto-group-etjd-BmR {
          width: 73.1rem;
          height: 100%;
          flex-shrink: 0;

          .auto-group-joov-LuD {
            margin-bottom: 1.6rem;
            width: 100%;
            display: flex;
            align-items: flex-end;

            .rectangle-43-J5M {
              margin-right: 1.6rem;
              width: 29rem;
              height: 34.8rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
            .rectangle-45-qb5 {
              flex-shrink: 0;
              width: 42.5rem;
              height: 43.3rem;
              object-fit: cover;
              vertical-align: top;
            }
          }
          .auto-group-ba8f-Nqu {
            margin-right: 27.9rem;
            width: calc(100% - 27.9rem);
            display: flex;
            align-items: flex-start;

            .rectangle-41-Km9 {
              flex-shrink: 0;
              margin-right: 1.6rem;
              width: 17.8rem;
              height: 24.2rem;
              object-fit: cover;
              vertical-align: top;
            }
            .rectangle-44-sGs {
              width: 25.8rem;
              height: 19.6rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
      }
    }
    .title-QXh {
      flex-direction: column;
      width: 35.7rem;
      height: 8.6rem;
      position: absolute;
      left: 52.45rem;
      top: 0;
      align-items: center;
      display: flex;

      .title-9EP {
        font-weight: 600;
        line-height: 1.5;
        flex-shrink: 0;
        margin-bottom: 0.8rem;
        font-size: 2rem;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        text-align: center;
        color: #606060;
      }
      .title-GZu {
        font-weight: 700;
        line-height: 1.2;
        color: #3a3a3a;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 4rem;
      }
    }
  }
  .footer-p5d {
    width: 100%;
    height: 50.5rem;
    border: solid 0.1rem rgba(0, 0, 0, 0.1700000018);
    background-color: #ffffff;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 4.8rem 9.999rem 3.8rem 10rem;

    .group-45-jyH {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;

      .group-32-uMy {
        width: calc(100% - 10.7004rem);
        height: 31.2rem;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;
        margin: 0rem 10.7rem 4.8rem 0rem;

        .auto-group-zutt-zPR {
          margin-right: 13.6rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .funiro-jbu {
            margin-bottom: 5rem;
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .university-drive-suite-200-coral-gables-fl-33134-usa-GLw {
            color: #9f9f9f;
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
            margin-left: 0.2008rem;
            max-width: 28.5rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
          }
        }
        .group-31-N95 {
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;
          height: 100%;

          .group-28-jEX {
            margin-right: 7.2rem;
            height: 100%;
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;

            .group-26-gQf {
              height: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              margin-right: 14.4rem;

              .links-S8w {
                color: #9f9f9f;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 5.5rem;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.5;
              }
              .group-24-y8s {
                margin-left: 0.2rem;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .home-Jwq {
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 4.6rem;
                  font-size: 1.6rem;
                  font-weight: 500;
                  line-height: 1.5;
                }
                .shop-qwm {
                  margin-bottom: 4.6rem;
                  font-size: 1.6rem;
                  font-weight: 500;
                  line-height: 1.5;
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
                .about-maX {
                  font-weight: 500;
                  line-height: 1.5;
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 4.5rem;
                  font-size: 1.6rem;
                }
                .contact-iEs {
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.6rem;
                  font-weight: 500;
                  line-height: 1.5;
                  color: #000000;
                }
              }
            }
            .group-27-Fkb {
              width: 14rem;
              flex-shrink: 0;

              .help-DBd {
                white-space: nowrap;
                margin-bottom: 5.5rem;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.5;
                color: #9f9f9f;
                font-family: Poppins, 'Source Sans Pro';
              }
              .group-25-MYj {
                width: 100%;
                display: flex;
                flex-direction: column;

                .payment-options-i8P {
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 4.6rem;
                  font-size: 1.6rem;
                  font-weight: 500;
                  line-height: 1.5;
                }
                .returns-enj {
                  margin-bottom: 4.5rem;
                  font-size: 1.6rem;
                  font-weight: 500;
                  line-height: 1.5;
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
                .privacy-policies-CJT {
                  font-weight: 500;
                  line-height: 1.5;
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.6rem;
                }
              }
            }
          }
          .group-30-jJP {
            margin-top: 0.2rem;
            width: 28.6003rem;
            flex-shrink: 0;

            .newsletter-UWs {
              color: #9f9f9f;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 5.3rem;
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
            }
            .group-29-22b {
              align-items: center;
              display: flex;
              flex-direction: column;
              width: 100%;

              .auto-group-zptw-APh {
                margin: 0rem 0rem 0.3rem 0rem;
                width: calc(100% - 0.0003rem);
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .enter-your-email-address-hPd {
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-right: 3.8rem;
                  font-size: 1.4rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #9f9f9f;
                  font-family: Poppins, 'Source Sans Pro';
                }
                .subscribe-2go {
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.4rem;
                  font-weight: 500;
                  line-height: 1.5;
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                }
              }
              .auto-group-bymq-B3u {
                width: 100%;
                height: 0.1rem;
                border-top: solid 0.1rem #000000;
                box-sizing: border-box;
                flex-shrink: 0;
              }
            }
          }
        }
      }
      .group-44-Hsd {
        color: #000000;
        border-top: solid 0.1rem #d9d9d9;
        flex-shrink: 0;
        box-sizing: border-box;
        font-size: 1.6rem;
        width: calc(100% - 0rem);
        font-weight: 400;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        margin-left: 0rem;
        padding: 3.5rem 0.201rem 0rem 0.201rem;
      }
    }
  }
}
